In [1]:
import pandas as pd

In [3]:
# somthing,a,b,c,d,message
# one,1,2,3,4,NA
# two,5,6,7,8,world
# three,9,10,11,12,foo

result = pd.read_csv("examples/sample3.csv")
print(result)

result = pd.read_csv("examples/sample3.csv", na_values = ['NULL'])
print(result)

# changing data while loading in datafame
# dictionary = column name : [source values, target value]
# create dictionary name = sentinels
# replace foo message in NA
sentinels = {'message': ['foo', 'NA']}
pd.read_csv('examples/sample3.csv', na_values = sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [4]:
result = pd.read_csv("examples/sample3.csv")
print(result)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [5]:
result = pd.read_csv("examples/sample3.csv", na_values = ['NULL'])
print(result)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [6]:
# create dictionary name = sentinels
# replace foo message in NA
sentinels = {'message': ['foo', 'NA']}
pd.read_csv('examples/sample3.csv', na_values = sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [7]:
# create dictionary name = sentinels
# replace foo message in NA
sentinels = {'message': ['world', 'NA']}
pd.read_csv('examples/sample3.csv', na_values = sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8     NaN
2     three  9  10  11.0  12     foo

In [14]:
# create dictionary name = sentinels
# replace 9 message in NA
sentinels = {'a': [9, 'NA']}
pd.read_csv('examples/sample3.csv', na_values = sentinels)

  something    a   b     c   d message
0       one  1.0   2   3.0   4     NaN
1       two  5.0   6   NaN   8   world
2     three  NaN  10  11.0  12     foo

In [15]:
# create dictionary name = sentinels
# replace 6 message in NA
sentinels = {'b': [6, 'NA']}
pd.read_csv('examples/sample3.csv', na_values = sentinels)

  something  a     b     c   d message
0       one  1   2.0   3.0   4     NaN
1       two  5   NaN   NaN   8   world
2     three  9  10.0  11.0  12     foo

In [16]:
# create dictionary name = sentinels
# replace 11 message in NA
sentinels = {'c': [11, 'NA']}
pd.read_csv('examples/sample3.csv', na_values = sentinels)

  something  a   b    c   d message
0       one  1   2  3.0   4     NaN
1       two  5   6  NaN   8   world
2     three  9  10  NaN  12     foo

In [17]:
# create dictionary name = sentinels
# replace 8 message in NA
sentinels = {'d': [8, 'NA']}
pd.read_csv('examples/sample3.csv', na_values = sentinels)

  something  a   b     c     d message
0       one  1   2   3.0   4.0     NaN
1       two  5   6   NaN   NaN   world
2     three  9  10  11.0  12.0     foo