# Renaming Axis Indexes Using Function Mapping

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)), 
                    index = ['Ohio', 'Colorado', 'New York'], 
                    columns = ['one', 'two', 'three', 'four'])

display(data)

transform = lambda x: x[:4].upper()
data.index.map(transform)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [4]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)), 
                    index = ['Ohio', 'Colorado', 'New York'], 
                    columns = ['one', 'two', 'three', 'four'])

display(data)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [5]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)), 
                    index = ['Ohio', 'Colorado', 'New York'], 
                    columns = ['one', 'two', 'three', 'four'])

transform = lambda x: x[:4].upper() # upper mean convert uppercase
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [6]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)), 
                    index = ['Ohio', 'Colorado', 'New York'], 
                    columns = ['one', 'two', 'three', 'four'])

display(data)

transform = lambda x: x[:4].lower() # lower mean convert lower case
data.index.map(transform)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Index(['ohio', 'colo', 'new '], dtype='object')

In [7]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)), 
                    index = ['Ohio', 'Colorado', 'New York'], 
                    columns = ['one', 'two', 'three', 'four'])

display(data)

transform = lambda x: x[:4].title()
data.index.map(transform)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Index(['Ohio', 'Colo', 'New '], dtype='object')