# Permutatio And Random Sampling

In [1]:
import numpy as np
import pandas as pd

In [7]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print(df.shape)
sampler = np.random.permutation(4)
df = df[sampler]
print(sampler)
print(df)
df.take(sampler)

(5, 4)
[1 3 2 0]
    1   3   2   0
0   1   3   2   0
1   5   7   6   4
2   9  11  10   8
3  13  15  14  12
4  17  19  18  16

    1   3   2   0
1   5   7   6   4
3  13  15  14  12
2   9  11  10   8
0   1   3   2   0

In [8]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print(df.shape)

(5, 4)

In [9]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
sampler = np.random.permutation(4)
df = df[sampler]
print(sampler)

[0 3 2 1]

In [10]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

sampler = np.random.permutation(4)
df = df[sampler]
print(df)

    1   0   2   3
0   1   0   2   3
1   5   4   6   7
2   9   8  10  11
3  13  12  14  15
4  17  16  18  19

In [11]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

df.take(sampler)

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
2   8   9  10  11
3  12  13  14  15

In [12]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print(df.shape)
sampler = np.random.permutation(3)
df = df[sampler]
print(sampler)
print(df)
df.take(sampler)

(5, 4)
[1 0 2]
    1   0   2
0   1   0   2
1   5   4   6
2   9   8  10
3  13  12  14
4  17  16  18

   1  0   2
1  5  4   6
0  1  0   2
2  9  8  10

In [13]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print(df.shape)
sampler = np.random.permutation(2)
df = df[sampler]
print(sampler)
print(df)
df.take(sampler)

(5, 4)
[1 0]
    1   0
0   1   0
1   5   4
2   9   8
3  13  12
4  17  16

   1  0
1  5  4
0  1  0

In [14]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print(df.shape)
sampler = np.random.permutation(1)
df = df[sampler]
print(sampler)
print(df)
df.take(sampler)

(5, 4)
[0]
    0
0   0
1   4
2   8
3  12
4  16

   0
0  0

In [15]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print(df.shape)
sampler = np.random.permutation(0)
df = df[sampler]
print(sampler)
print(df)
df.take(sampler)

(5, 4)
[]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

Empty DataFrame
Columns: []
Index: []

In [22]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(10 * 5).reshape((10, 5)))
print(df.shape)
sampler = np.random.permutation(5)
df = df[sampler]
print(sampler)
print(df)
df.take(sampler)

(10, 5)
[4 0 1 3 2]
    4   0   1   3   2
0   4   0   1   3   2
1   9   5   6   8   7
2  14  10  11  13  12
3  19  15  16  18  17
4  24  20  21  23  22
5  29  25  26  28  27
6  34  30  31  33  32
7  39  35  36  38  37
8  44  40  41  43  42
9  49  45  46  48  47

    4   0   1   3   2
4  24  20  21  23  22
0   4   0   1   3   2
1   9   5   6   8   7
3  19  15  16  18  17
2  14  10  11  13  12

In [23]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(10 * 5).reshape((10, 5)))
print(df.shape)
sampler = np.random.permutation(4)
df = df[sampler]
print(sampler)
print(df)
df.take(sampler)

(10, 5)
[0 2 3 1]
    0   2   3   1
0   0   2   3   1
1   5   7   8   6
2  10  12  13  11
3  15  17  18  16
4  20  22  23  21
5  25  27  28  26
6  30  32  33  31
7  35  37  38  36
8  40  42  43  41
9  45  47  48  46

    0   2   3   1
0   0   2   3   1
2  10  12  13  11
3  15  17  18  16
1   5   7   8   6

In [24]:
# Permuting (randomly reordering)
# a series or the rows in a dataframe
df = pd.DataFrame(np.arange(10 * 5).reshape((10, 5)))
print(df.shape)
sampler = np.random.permutation(3)
df = df[sampler]
print(sampler)
print(df)
df.take(sampler)

(10, 5)
[0 1 2]
    0   1   2
0   0   1   2
1   5   6   7
2  10  11  12
3  15  16  17
4  20  21  22
5  25  26  27
6  30  31  32
7  35  36  37
8  40  41  42
9  45  46  47

    0   1   2
0   0   1   2
1   5   6   7
2  10  11  12