In [1]:
import numpy as np
import pandas as pd

In [4]:
# create DataFrame name frame
# this section run whole program
# below sections run portion wise program
frame = frame = pd.DataFrame(np.random.rand(4, 3), 
                             columns = list('bde'), 
                             index = ['Utah', 'Ohio', 'texas', 'Oregon'])
print(frame)
# abs function convert negative value in positive value
print(np.abs(frame))

# find minimum value
print(frame["d"]. min())

# find maximum value
print(frame["d"]. max())

# substract max-min value
print(frame["d"]. max() - frame["d"]. min())

# create lambda function
f = lambda x: x.max() - x.min()

# apply f function
df = frame.apply(f)
print(df, type(df))
df = frame.apply(f, axis = 1)
print(df)

# create functin min_max
def min_max(x):
    minimun = x.min()
    maximum = x.max()
    return pd.Series([x.min(), x.max()], index = ['min', 'max'])

df = frame.apply(min_max)
print(df, type(df))

               b         d         e
Utah    0.725335  0.028474  0.504551
Ohio    0.362546  0.626574  0.190995
texas   0.848146  0.735370  0.472889
Oregon  0.945272  0.626561  0.806314
               b         d         e
Utah    0.725335  0.028474  0.504551
Ohio    0.362546  0.626574  0.190995
texas   0.848146  0.735370  0.472889
Oregon  0.945272  0.626561  0.806314
0.028473707949475013
0.7353704830471162
0.7068967750976412
b    0.582726
d    0.706897
e    0.615319
dtype: float64 <class 'pandas.core.series.Series'>
Utah      0.696861
Ohio      0.435579
texas     0.375257
Oregon    0.318711
dtype: float64
            b         d         e
min  0.362546  0.028474  0.190995
max  0.945272  0.735370  0.806314 <class 'pandas.core.frame.DataFrame'>

In [5]:
# create DataFrame name frame
frame = frame = pd.DataFrame(np.random.rand(4, 3), 
                             columns = list('bde'), 
                             index = ['Utah', 'Ohio', 'texas', 'Oregon'])
print(frame)
# abs function convert negative value in positive value
print(np.abs(frame))

               b         d         e
Utah    0.187660  0.606008  0.039202
Ohio    0.784814  0.456981  0.576053
texas   0.442798  0.180154  0.801838
Oregon  0.394520  0.848257  0.545639
               b         d         e
Utah    0.187660  0.606008  0.039202
Ohio    0.784814  0.456981  0.576053
texas   0.442798  0.180154  0.801838
Oregon  0.394520  0.848257  0.545639

In [6]:
# create DataFrame name frame
frame = frame = pd.DataFrame(np.random.rand(4, 3), 
                             columns = list('bde'), 
                             index = ['Utah', 'Ohio', 'texas', 'Oregon'])

# find minimum value
print(frame["d"]. min())

# find maximum value
print(frame["d"]. max())

# substract max-min value
print(frame["d"]. max() - frame["d"]. min())

0.10480556840202626
0.8608578228478277
0.7560522544458015

In [9]:
# create DataFrame name frame
frame = frame = pd.DataFrame(np.random.rand(4, 3), 
                             columns = list('bde'), 
                             index = ['Utah', 'Ohio', 'texas', 'Oregon'])

# create lambda function
# if you don't use any name to save the function
f = lambda x: x.max() - x.min()
print(f)

<function <lambda> at 0x000001624A912D38>

In [10]:
# create DataFrame name frame
frame = frame = pd.DataFrame(np.random.rand(4, 3), 
                             columns = list('bde'), 
                             index = ['Utah', 'Ohio', 'texas', 'Oregon'])

# apply f function
# print column wise
df = frame.apply(f)
print(df, type(df))
df = frame.apply(f, axis = 1)
print(df)

b    0.490101
d    0.611345
e    0.809323
dtype: float64 <class 'pandas.core.series.Series'>
Utah      0.481067
Ohio      0.659837
texas     0.761851
Oregon    0.911829
dtype: float64

In [12]:
# create DataFrame name frame
frame = frame = pd.DataFrame(np.random.rand(4, 3), 
                             columns = list('bde'), 
                             index = ['Utah', 'Ohio', 'texas', 'Oregon'])

# apply f function
# print row wise
df = frame.apply(f)
print(df, type(df))
df = frame.apply(f, axis = 0)
print(df)

b    0.812209
d    0.895612
e    0.750192
dtype: float64 <class 'pandas.core.series.Series'>
b    0.812209
d    0.895612
e    0.750192
dtype: float64

In [11]:
# create DataFrame name frame
frame = frame = pd.DataFrame(np.random.rand(4, 3), 
                             columns = list('bde'), 
                             index = ['Utah', 'Ohio', 'texas', 'Oregon'])

# create functin min_max
def min_max(x):
    minimun = x.min()
    maximum = x.max()
    return pd.Series([x.min(), x.max()], index = ['min', 'max'])

df = frame.apply(min_max)
print(df, type(df))

           b         d        e
min  0.23465  0.036183  0.04866
max  0.88686  0.783498  0.79978 <class 'pandas.core.frame.DataFrame'>

In [13]:
# create DataFrame name frame
frame = frame = pd.DataFrame(np.random.rand(4, 3), 
                             columns = list('bde'), 
                             index = ['Utah', 'Ohio', 'texas', 'Oregon'])

# create functin min_max
def min_max(x):
    # minimun = x.min() we can use min max directly
    # maximum = x.max()
    return pd.Series([x.min(), x.max()], index = ['min', 'max'])

df = frame.apply(min_max)
print(df, type(df))

            b         d         e
min  0.013278  0.088257  0.147866
max  0.797863  0.428367  0.777174 <class 'pandas.core.frame.DataFrame'>

# Sorting and Ranking

In [18]:
# create DataFrame name frame1
frame1 = pd.DataFrame(np.arange(8).reshape((2,4)), 
                      index = ['three', 'one'], 
                      columns = ['d', 'a', 'b', 'c'])

print(frame1)
print()

# sorting index using column wise
print(frame1.sort_index(axis = 1, ascending = False))
print()
print( frame1.sort_index() ) # default in sort: axis = 0, ascending = True

       d  a  b  c
three  0  1  2  3
one    4  5  6  7
Wall time: 2 ms

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [20]:
# Sort by Values
print(frame1.sort_values(by = 'b'))

# ranking ascending = False and maximum value top
print(frame1.rank(ascending = False, method = 'max'))

# ranking ascending = True and minimum value top
print(frame1.rank(ascending = True, method = 'min'))
print(frame1.rank(axis = 'columns'))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7
         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0
         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0
         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

In [22]:
# Summarizing and Computing Descriptive Statistics
# create DataFrame name df

df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two'])

print(df)
print()

# print df with sum
print(df.sum())
print()

# print df with sum and axis = column
print(df.sum(axis = 'columns'))
      
# note: use of skipna

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

one    9.25
two   -5.80
dtype: float64

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [24]:
print(df)

# find df mean with column axis
# skipna = False mean skip skip NaN bydefault it is true
x = df.mean(axis = 'columns', skipna = False)
print()
print(x)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [25]:
print(df)

# find df mean with column axis
# skipna = False mean skip skip NaN bydefault it is true
y = df.mean(axis = 'columns', skipna = True)
print()
print(y)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [30]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['one'].unique(), df['two'].unique())

# count column one values repeation
df['one'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[1.4  7.1  0.75] [ 1.4 -4.5  nan -1.3]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [31]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['one'].unique(), df['three'].unique())
df['one'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[1.4  7.1  0.75] [1.5 0.5 1.3]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [32]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['one'].unique(), df['four'].unique())
df['one'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[1.4  7.1  0.75] [nan 1.4]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [33]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['two'].unique(), df['one'].unique())

# count column two values repeation
df['two'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[ 1.4 -4.5  nan -1.3] [1.4  7.1  0.75]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [34]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['two'].unique(), df['three'].unique())
df['two'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[ 1.4 -4.5  nan -1.3] [1.5 0.5 1.3]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [35]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['two'].unique(), df['four'].unique())
df['two'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[ 1.4 -4.5  nan -1.3] [nan 1.4]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [36]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['three'].unique(), df['one'].unique())

# count column three values repeation
df['three'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[1.5 0.5 1.3] [1.4  7.1  0.75]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [37]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['three'].unique(), df['two'].unique())
df['three'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[1.5 0.5 1.3] [ 1.4 -4.5  nan -1.3]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [38]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['three'].unique(), df['four'].unique())
df['three'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[1.5 0.5 1.3] [nan 1.4]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [39]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['four'].unique(), df['one'].unique())

# count column four values repeation
df['four'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[nan 1.4] [1.4  7.1  0.75]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [40]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['four'].unique(), df['two'].unique())
df['four'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[nan 1.4] [ 1.4 -4.5  nan -1.3]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [41]:
# Unique Values
# create DataFrame name df
df = pd.DataFrame([[1.4, 1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4], [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]], 
                  index = ['a', 'b', 'c', 'd'], 
                  columns = ['one', 'two', 'three', 'four'])

print(df)
print()

# find unique values
print(df['four'].unique(), df['three'].unique())
df['four'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[nan 1.4] [1.5 0.5 1.3]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64