In [1]:
import numpy as np
import pandas as pd

In [3]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
print(data_df.loc['Colorada', ['two', 'three']])
print("\n")
print(data_df.iloc[2, [3, 0, 1]])
print(data_df.iloc[:])
print(data_df.iloc[ : , :3])
print(data_df.iloc[:2])
[data_df.three > 5]

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

two      5
three    6
Name: Colorada, dtype: int32


four    11
one      8
two      9
Name: Utah, dtype: int32
          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three
Ohio        0    1      2
Colorada    4    5      6
Utah        8    9     10
New York   12   13     14
          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7

[Ohio        False
 Colorada     True
 Utah         True
 New York     True
 Name: three, dtype: bool]

In [4]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

#print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
print(data_df.loc['Colorada', ['two', 'three']])
#print("\n")
#print(data_df.iloc[2, [3, 0, 1]])
#print(data_df.iloc[:])
#print(data_df.iloc[ : , :3])
#print(data_df.iloc[:2])
#[data_df.three > 5]

two      5
three    6
Name: Colorada, dtype: int32

In [5]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

#print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
print(data_df.loc[['Colorada', 'Ohio'], ['two', 'three']])
#print("\n")
#print(data_df.iloc[2, [3, 0, 1]])
#print(data_df.iloc[:])
#print(data_df.iloc[ : , :3])
#print(data_df.iloc[:2])
#[data_df.three > 5]

          two  three
Colorada    5      6
Ohio        1      2

In [12]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

#print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
print(data_df.loc[['Colorada', 'Ohio', 'Utah'], ['two', 'three']])
#print("\n")
#print(data_df.iloc[2, [3, 0, 1]])
#print(data_df.iloc[:])
#print(data_df.iloc[ : , :3])
#print(data_df.iloc[:2])
#[data_df.three > 5]

          two  three
Colorada    5      6
Ohio        1      2
Utah        9     10

In [13]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

#print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
print(data_df.loc[['Colorada', 'Ohio', 'Utah', 'New York'], ['two', 'three']])
#print("\n")
#print(data_df.iloc[2, [3, 0, 1]])
#print(data_df.iloc[:])
#print(data_df.iloc[ : , :3])
#print(data_df.iloc[:2])
#[data_df.three > 5]

          two  three
Colorada    5      6
Ohio        1      2
Utah        9     10
New York   13     14

In [6]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
#print(data_df.loc[['Colorada', 'Ohio'], ['two', 'three']])
#print("\n")

# when using iloc then using numbers
print(data_df.iloc[2, [3, 0, 1]])
#print(data_df.iloc[:])
#print(data_df.iloc[ : , :3])
#print(data_df.iloc[:2])
#[data_df.three > 5]

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

four    11
one      8
two      9
Name: Utah, dtype: int32

In [8]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
#print(data_df.loc[['Colorada', 'Ohio'], ['two', 'three']])
#print("\n")

# when using iloc then using numbers
#print(data_df.iloc[2, [3, 0, 1]])
print(data_df.iloc[:])
#print(data_df.iloc[ : , :3])
#print(data_df.iloc[:2])
#[data_df.three > 5]

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [9]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
#print(data_df.loc[['Colorada', 'Ohio'], ['two', 'three']])
#print("\n")

# when using iloc then using numbers
#print(data_df.iloc[2, [3, 0, 1]])
#print(data_df.iloc[:])
print(data_df.iloc[ : , :3])
#print(data_df.iloc[:2])
#[data_df.three > 5]

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  two  three
Ohio        0    1      2
Colorada    4    5      6
Utah        8    9     10
New York   12   13     14

In [10]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
#print(data_df.loc[['Colorada', 'Ohio'], ['two', 'three']])
#print("\n")

# when using iloc then using numbers
#print(data_df.iloc[2, [3, 0, 1]])
#print(data_df.iloc[:])
#print(data_df.iloc[ : , :3])
print(data_df.iloc[:2])
#[data_df.three > 5]

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7

In [11]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
#print(data_df.loc[['Colorada', 'Ohio'], ['two', 'three']])
#print("\n")

# when using iloc then using numbers
#print(data_df.iloc[2, [3, 0, 1]])
#print(data_df.iloc[:])
#print(data_df.iloc[ : , :3])
#print(data_df.iloc[:2])
[data_df.three > 5]

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

[Ohio        False
 Colorada     True
 Utah         True
 New York     True
 Name: three, dtype: bool]

In [14]:
# create DataFrame name data_df
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'], 
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label
# then specify column names
# remember! multiple column names require array notation
#print(data_df.loc[['Colorada', 'Ohio'], ['two', 'three']])
#print("\n")

# when using iloc then using numbers
#print(data_df.iloc[2, [3, 0, 1]])
#print(data_df.iloc[:])
#print(data_df.iloc[ : , :3])
print(data_df.iloc[:, :3])
#[data_df.three > 5]

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  two  three
Ohio        0    1      2
Colorada    4    5      6
Utah        8    9     10
New York   12   13     14

# Arithmetic And Data Alignment

In [18]:
#print(list('bcd'))
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)),
                  columns = list('bcd'), 
                  index = ['Ohio', 'Texas', 'Colorado'])

df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                  columns = list('bde'), 
                  index = ['Utah', 'Ohio', 'Texas', 'Oregon'])

print(df1)
print(df2)
print()

# applying plus operation between two data frames
df3 = df1 + df2

print(df3)
# your work is to fill all NaN values of this df3 with a number,
# choice of number is yoursS

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [19]:
#print(list('bcd'))
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)),
                  columns = list('bcd'), 
                  index = ['Ohio', 'Texas', 'Colorado'])


print(df1)
print()

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [20]:
#print(list('bcd'))
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                  columns = list('bde'), 
                  index = ['Utah', 'Ohio', 'Texas', 'Oregon'])

print(df2)
print()

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [21]:
#print(list('bcd'))
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)),
                  columns = list('bcd'), 
                  index = ['Ohio', 'Texas', 'Colorado'])

df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                  columns = list('bde'), 
                  index = ['Utah', 'Ohio', 'Texas', 'Oregon'])

# applying plus operation between two data frames
df3 = df1 + df2

print(df3)
# your work is to fill all NaN values of this df3 with a number,
# choice of number is yoursS

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN