In [1]:
import numpy as np
import pandas as pd

In [2]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])
#print(data_df, "\n")
#data_df[ ['one', 'three'] ]
#print(data_df[2:])
#print(data_df.Ohio[:2])

# Conditional Selection
#print(data_df[data_df['three'] > 5])
print(data_df, "\n")

df2 = data_df["three"] > 5
print(df2)
print(data_df[ data_df["three"] > 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada     True
Utah         True
New York     True
Name: three, dtype: bool
          one  two  three  four
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [3]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])
print(data_df, "\n")
data_df[ ['one', 'three'] ]

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  three
Ohio        0      2
Colorada    4      6
Utah        8     10
New York   12     14

In [4]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df[2:])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [6]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

# Conditional Selection
#print(data_df[data_df['three'] > 5])
print(data_df, "\n")

df2 = data_df["three"] > 5
print(df2)

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada     True
Utah         True
New York     True
Name: three, dtype: bool

In [7]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df[ data_df["three"] > 5])

          one  two  three  four
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [8]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["three"] > 5
print(df2)
print(data_df[ data_df["three"] < 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada     True
Utah         True
New York     True
Name: three, dtype: bool
      one  two  three  four
Ohio    0    1      2     3

In [9]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["three"] > 5
print(df2)
print(data_df[ data_df["three"] > 19])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada     True
Utah         True
New York     True
Name: three, dtype: bool
Empty DataFrame
Columns: [one, two, three, four]
Index: []

In [10]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["three"] < 5
print(df2)
print(data_df[ data_df["three"] > 18])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio         True
Colorada    False
Utah        False
New York    False
Name: three, dtype: bool
Empty DataFrame
Columns: [one, two, three, four]
Index: []

In [11]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["three"] > 30
print(df2)
print(data_df[ data_df["three"] < 15])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada    False
Utah        False
New York    False
Name: three, dtype: bool
          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [12]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["three"] > 100
print(df2)
print(data_df[ data_df["three"] < 50])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada    False
Utah        False
New York    False
Name: three, dtype: bool
          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [13]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["four"] > 5
print(df2)
print(data_df[ data_df["three"] < 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada     True
Utah         True
New York     True
Name: four, dtype: bool
      one  two  three  four
Ohio    0    1      2     3

In [14]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["four"] > 5
print(df2)
print(data_df[ data_df["one"] < 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada     True
Utah         True
New York     True
Name: four, dtype: bool
          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7

In [15]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["four"] > 5
print(df2)
print(data_df[ data_df["two"] < 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada     True
Utah         True
New York     True
Name: four, dtype: bool
      one  two  three  four
Ohio    0    1      2     3

In [16]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["one"] > 5
print(df2)
print(data_df[ data_df["two"] < 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada    False
Utah         True
New York     True
Name: one, dtype: bool
      one  two  three  four
Ohio    0    1      2     3

In [17]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["one"] > 5
print(df2)
print(data_df[ data_df["four"] < 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada    False
Utah         True
New York     True
Name: one, dtype: bool
      one  two  three  four
Ohio    0    1      2     3

In [18]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["two"] > 5
print(df2)
print(data_df[ data_df["two"] < 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada    False
Utah         True
New York     True
Name: two, dtype: bool
      one  two  three  four
Ohio    0    1      2     3

In [22]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["one"] == 5
print(df2)
print(data_df[ data_df["two"] == 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada    False
Utah        False
New York    False
Name: one, dtype: bool
          one  two  three  four
Colorada    4    5      6     7

In [23]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["one"] != 5
print(df2)
print(data_df[ data_df["two"] != 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        True
Colorada    True
Utah        True
New York    True
Name: one, dtype: bool
          one  two  three  four
Ohio        0    1      2     3
Utah        8    9     10    11
New York   12   13     14    15

In [26]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["one"] >= 5
print(df2)
print(data_df[ data_df["two"] >= 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada    False
Utah         True
New York     True
Name: one, dtype: bool
          one  two  three  four
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [27]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["one"] <= 5
print(df2)
print(data_df[ data_df["two"] <= 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio         True
Colorada     True
Utah        False
New York    False
Name: one, dtype: bool
          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7

In [29]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["one"] == 5
print(df2)
print(data_df[ data_df["four"] == 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada    False
Utah        False
New York    False
Name: one, dtype: bool
Empty DataFrame
Columns: [one, two, three, four]
Index: []

In [30]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df, "\n")

df2 = data_df["one"] >= 5
print(df2)
print(data_df[ data_df["four"] == 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorada    False
Utah         True
New York     True
Name: one, dtype: bool
Empty DataFrame
Columns: [one, two, three, four]
Index: []

In [35]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df[ data_df[("four") or ('two')] > 5])

          one  two  three  four
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [36]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df[ data_df[["four"] or ['two']] > 5])

          one  two  three  four
Ohio      NaN  NaN    NaN   NaN
Colorada  NaN  NaN    NaN   7.0
Utah      NaN  NaN    NaN  11.0
New York  NaN  NaN    NaN  15.0

In [37]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df[ data_df[["four"] and ['two']] > 5])

          one   two  three  four
Ohio      NaN   NaN    NaN   NaN
Colorada  NaN   NaN    NaN   NaN
Utah      NaN   9.0    NaN   NaN
New York  NaN  13.0    NaN   NaN

In [39]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df)
print("-----------------------------------------")
print(data_df[ data_df[("four") and ('two')] > 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
-----------------------------------------
          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [40]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df)
print("-----------------------------------------")
print(data_df[ data_df[("four") and ('one')] > 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
-----------------------------------------
          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [41]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df)
print("-----------------------------------------")
print(data_df[ data_df[("four") and ('three')] < 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
-----------------------------------------
      one  two  three  four
Ohio    0    1      2     3

In [42]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df)
print("-----------------------------------------")
print(data_df[ data_df[("one") and ('two')] > 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
-----------------------------------------
          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [43]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df)
print("-----------------------------------------")
print(data_df[ data_df[("one") and ('three')] > 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
-----------------------------------------
          one  two  three  four
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [44]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'three', 'four'])

print(data_df)
print("-----------------------------------------")
print(data_df[ data_df[("two") and ('three')] > 5])

          one  two  three  four
Ohio        0    1      2     3
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
-----------------------------------------
          one  two  three  four
Colorada    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15