In [1]:
import numpy as np
import pandas as pd

In [2]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'thre', 'four'])
print(data_df)

          one  two  thre  four
Ohio        0    1     2     3
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15

In [3]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'thre', 'four'])
print(data_df)

# dataframe.drop method would return a new dataframe without
# having deleted rows. so store its into to dataframe variable
# or use in place = True while droping rows or column

# data_df.drop values from the columns by passing axis = 1
# or axis = 'columns' :
data_df = data_df.drop('two', axis = 1)
print(data_df)

          one  two  thre  four
Ohio        0    1     2     3
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15
          one  thre  four
Ohio        0     2     3
Colorada    4     6     7
Utah        8    10    11
New York   12    14    15

In [6]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'thre', 'four'])
print(data_df)

# dataframe.drop method would return a new dataframe without
# having deleted rows. so store its into to dataframe variable
# or use in place = True while droping rows or column

# data_df.drop values from the columns by passing axis = 1
# or axis = 'columns' :
data_df = data_df.drop('Ohio', axis = 0)
print(data_df)

          one  two  thre  four
Ohio        0    1     2     3
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15
          one  two  thre  four
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15

In [7]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'thre', 'four'])
print(data_df)

# dataframe.drop method would return a new dataframe without
# having deleted rows. so store its into to dataframe variable
# or use in place = True while droping rows or column

# data_df.drop values from the columns by passing axis = 1
# or axis = 'columns' :
data_df = data_df.drop(['one','two'], axis = 1)
print(data_df)

          one  two  thre  four
Ohio        0    1     2     3
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15
          thre  four
Ohio         2     3
Colorada     6     7
Utah        10    11
New York    14    15

In [8]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'thre', 'four'])
print(data_df)

# dataframe.drop method would return a new dataframe without
# having deleted rows. so store its into to dataframe variable
# or use in place = True while droping rows or column

# data_df.drop values from the columns by passing axis = 1
# or axis = 'columns' :
data_df = data_df.drop(['Ohio', 'Utah'], axis = 0)
print(data_df)

          one  two  thre  four
Ohio        0    1     2     3
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15
          one  two  thre  four
Colorada    4    5     6     7
New York   12   13    14    15

In [9]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'thre', 'four'])
print(data_df)

# dataframe.drop method would return a new dataframe without
# having deleted rows. so store its into to dataframe variable
# or use in place = True while droping rows or column

# data_df.drop values from the columns by passing axis = 1
# or axis = 'columns' :
data_df = data_df.drop(['Ohio', 'Utah', 'New York'], axis = 0)
print(data_df)

          one  two  thre  four
Ohio        0    1     2     3
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15
          one  two  thre  four
Colorada    4    5     6     7

In [11]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'thre', 'four'])
print(data_df)

# dataframe.drop method would return a new dataframe without
# having deleted rows. so store its into to dataframe variable
# or use in place = True while droping rows or column

#data_df.drop(['Colorado', 'Ohio'], inplace = True)
#print(data_df)

# data_df.drop values from the columns by passing axis = 1
# or axis = 'columns' :
data_df = data_df.drop(['one', 'two', 'thre'], axis = 1)
print(data_df)

          one  two  thre  four
Ohio        0    1     2     3
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15
          four
Ohio         3
Colorada     7
Utah        11
New York    15

In [14]:
data_df1 = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'thre', 'four'])
print(data_df1)

# dataframe.drop method would return a new dataframe without
# having deleted rows. so store its into to dataframe variable
# or use in place = True while droping rows or column

data_df1.drop(['Colorada', 'Ohio'], inplace = True)
print(data_df1)

          one  two  thre  four
Ohio        0    1     2     3
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15
          one  two  thre  four
Utah        8    9    10    11
New York   12   13    14    15

In [15]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                      index = ['Ohio', 'Colorada', 'Utah', 'New York'],
                      columns = ['one', 'two', 'thre', 'four'])
print(data_df)

# dataframe.drop method would return a new dataframe without
# having deleted rows. so store its into to dataframe variable
# or use in place = True while droping rows or column

#data_df.drop(['Colorado', 'Ohio'], inplace = True)
#print(data_df)

# data_df.drop values from the columns by passing axis = 1
# or axis = 'columns' :
data_df = data_df.drop(['one', 'two', 'thre'], axis = 1, inplace = True)
print(data_df)

          one  two  thre  four
Ohio        0    1     2     3
Colorada    4    5     6     7
Utah        8    9    10    11
New York   12   13    14    15
None