# Arithmetic Methods With Fill Values

In [1]:
import numpy as np
import pandas as pd

In [4]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

print(df1)
#print(df2)

df2.loc[1, 'b'] = np.nan
print(df2)
df3 = df1 + df2
print()
print("---------")
print()
# we can use add method for filling NaN cells with a value
# NaN will be replaced by 0 and then addition operation will apply
print("addition using a method with replacing NaN with 0")
df3 = df1.add(df2, fill_value = 0)
print(df3)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

---------

addition using a method with replacing NaN with 0
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [8]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

print(df1)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [9]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

print(df2)

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [11]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

df2.loc[1, 'b'] = np.nan
print(df2)

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [13]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

df3 = df1 + df2
print(df3)

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [14]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

# we can use add method for filling NaN cells with a value
# NaN will be replaced by 0 and then addition operation will apply
print("addition using a method with replacing NaN with 0")
df3 = df1.add(df2, fill_value = 0)
print(df3)

addition using a method with replacing NaN with 0
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [5]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

#print(df1)
print(df2)

df2.loc[1, 'b'] = np.nan
print(df2)
df3 = df1 + df2
print()
print("---------")
print()
# we can use add method for filling NaN cells with a value
# NaN will be replaced by 0 and then addition operation will apply
print("addition using a method with replacing NaN with 0")
df3 = df1.add(df2, fill_value = 0)
print(df3)

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

---------

addition using a method with replacing NaN with 0
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [17]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

print(df1)
#print(df2)

df1.loc[1, 'd'] = np.nan
print(df1)
#df3 = df1 + df2
print()
print("---------")
print()
# we can use add method for filling NaN cells with a value
# NaN will be replaced by 0 and then addition operation will apply
print("addition using a method with replacing NaN with 0")
df3 = df1.add(df1, fill_value = 0)
print(df3)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   NaN
2  8.0  9.0  10.0  11.0

---------

addition using a method with replacing NaN with 0
      a     b     c     d
0   0.0   2.0   4.0   6.0
1   8.0  10.0  12.0   NaN
2  16.0  18.0  20.0  22.0

In [7]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

#print(df1)
print(df2)

df2.loc[1, 'b'] = np.nan
print(df2)
df3 = df1 + df2
print()
print("---------")
print()
# we can use add method for filling NaN cells with a value
# NaN will be replaced by 0 and then addition operation will apply
print("addition using a method with replacing NaN with 0")
df3 = df2.add(df2, fill_value = 0)
print(df3)

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

---------

addition using a method with replacing NaN with 0
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   8.0
1  10.0   NaN  14.0  16.0  18.0
2  20.0  22.0  24.0  26.0  28.0
3  30.0  32.0  34.0  36.0  38.0

In [18]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

print(df1)
#print(df2)

a = df1.loc[1, 'd'] = np.nan
print(a)
#df3 = df1 + df2
print()
print("---------")
print()
# we can use add method for filling NaN cells with a value
# NaN will be replaced by 0 and then addition operation will apply
print("addition using a method with replacing NaN with 0")
df3 = df1.add(a, fill_value = 0)
print(df3)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
nan

---------

addition using a method with replacing NaN with 0
    a   b   c   d
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN
2 NaN NaN NaN NaN

In [19]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                  columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                  columns = list('abcde'))

print(df1)
#print(df2)

a = df1.loc[1, 'd'] = np.nan
print(a)
#df3 = df1 + df2
print()
print("---------")
print()
# we can use add method for filling NaN cells with a value
# NaN will be replaced by 0 and then addition operation will apply
print("addition using a method with replacing NaN with 0")
df3 = df1.add(a, fill_value = 1)
print(df3)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
nan

---------

addition using a method with replacing NaN with 0
    a   b   c   d
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN
2 NaN NaN NaN NaN

In [20]:
0 + np.nan

nan

In [21]:
0 - np.nan

nan

In [22]:
5 * np.nan

nan

In [23]:
5 / np.nan

nan

In [24]:
np.nan * 5

nan

In [25]:
np.nan + np.nan

nan

In [26]:
np.nan - np.nan

nan