In [1]:
import numpy as np
import pandas as pd

In [2]:
# pickle is a python library
# below code first we pick ex1.csv file in our examples folder
# than save this file in pickle
# and than read out this pickle
frame = pd.read_csv('examples/ex1.csv')
frame.to_pickle('examples/frame_pickle')
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Using HF Format

In [3]:
frame1 = pd.DataFrame({'a': np.random.rand(100)})

# in this point create a new database
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
print(store)
x = store.obj1
print(type(x))
print(x.head())
print('------------------------------------')
store.put('obj2', frame1, format = 'table')
store.select('obj2', where = ['index >= 10 and index <= 15'])
store.close()

# keep in mind below both command not execute at a time
# only one command execute at a time
frame1.to_hdf('mydata.h5', 'obj3', format = 'table')
frame1 = pd.read_hdf('mydata.h5', 'obj3', where = ['index < 5'])

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

<class 'pandas.core.frame.DataFrame'>
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
------------------------------------

In [4]:
frame1 = pd.DataFrame({'a': np.random.rand(100)})

# in this point create a new database
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [5]:
frame1 = pd.DataFrame({'a': np.random.rand(100)})

# in this point create a new database
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
print(store)
x = store.obj1
print(type(x))
print(x.head())

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

<class 'pandas.core.frame.DataFrame'>
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo