In [1]:
import numpy as np
import pandas as pd

In [2]:
sample_df = pd.read_csv("examples/sample.csv")
print(sample_df)
print("\n")

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80

In [3]:
# we can change the column names while loading data
sample_df = pd.read_csv("examples/sample.csv", names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [4]:
sample_df = pd.read_csv("examples/sample.csv")
print(sample_df)
print("\n")

# we can change the column names while loading data
sample_df = pd.read_csv("examples/sample.csv", names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80


          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [5]:
# we can change the column names while loading data
# skip rowa 1
sample_df = pd.read_csv("examples/sample.csv", skiprows = 1, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

    id         name  ch  ph  en  math
0  A01     arif ali  20  30  40    50
1  A02  kamran khan  30  40  50    60
2  A03   imran ali   40  50  60    70
3  A04  kashif khan  50  60  70    80

In [6]:
# we can change the column names while loading data
# header = None
sample_df = pd.read_csv("examples/sample.csv", header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [7]:
# we can change the column names while loading data
# skip rowa 1
sample_df = pd.read_csv("examples/sample.csv", skiprows = 1, header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

    id         name  ch  ph  en  math
0  A01     arif ali  20  30  40    50
1  A02  kamran khan  30  40  50    60
2  A03   imran ali   40  50  60    70
3  A04  kashif khan  50  60  70    80

In [8]:
# we can change the column names while loading data
# skip rowa 1 , 3
sample_df = pd.read_csv("examples/sample.csv", skiprows = (1 , 3), header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A02  kamran khan          30        40        50     60
2        A04  kashif khan          50        60        70     80

In [9]:
# we can change the column names while loading data
# skip rowa 1 , 2
sample_df = pd.read_csv("examples/sample.csv", skiprows = (1 , 2), header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A03   imran ali           40        50        60     70
2        A04  kashif khan          50        60        70     80

In [10]:
# we can change the column names while loading data
# skip rowa 1 , 4
sample_df = pd.read_csv("examples/sample.csv", skiprows = (1 , 4), header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A02  kamran khan          30        40        50     60
2        A03   imran ali           40        50        60     70

In [11]:
# we can change the column names while loading data
# skip rowa 1 , 5
sample_df = pd.read_csv("examples/sample.csv", skiprows = (1 , 5), header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A02  kamran khan          30        40        50     60
2        A03   imran ali           40        50        60     70
3        A04  kashif khan          50        60        70     80

In [12]:
# we can change the column names while loading data
# skip rowa 1, 2, 3
sample_df = pd.read_csv("examples/sample.csv", skiprows = (1 , 2, 3), header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A04  kashif khan          50        60        70     80

In [13]:
# we can change the column names while loading data
# skip rowa 1, 2, 5
sample_df = pd.read_csv("examples/sample.csv", skiprows = (1 , 2, 5), header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A03   imran ali           40        50        60     70
2        A04  kashif khan          50        60        70     80

In [14]:
# we can change the column names while loading data
# skip rowa 2, 4
sample_df = pd.read_csv("examples/sample.csv", skiprows = (2, 4), header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id        name          ch        ph        en   math
0  studentid        name   chimestry   physics   english   math
1        A01    arif ali          20        30        40     50
2        A03  imran ali           40        50        60     70

In [15]:
# we can change the column names while loading data
# skip rowa 2, 5
sample_df = pd.read_csv("examples/sample.csv", skiprows = (2, 5), header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A03   imran ali           40        50        60     70
3        A04  kashif khan          50        60        70     80

In [16]:
# we can change the column names while loading data
# skip rowa 3, 4
sample_df = pd.read_csv("examples/sample.csv", skiprows = (3, 4), header = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60

In [17]:
# we can change the column names while loading data
# skip rowa 3, 4
sample_df = pd.read_csv("examples/sample.csv", skiprows = (3, 4), header = None, usecols = None, names = ['id', 'name', 'ch', 'ph', 'en', 'math'])
print(sample_df)

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60

In [18]:
# we can change the column names while loading data
# skip rowa 3, 4
sample_df = pd.read_csv("examples/sample.csv", names = ['id', 'name', 'ch', 'ph', 'en', 'math'], usecols = ['id'])
print(sample_df)

          id
0  studentid
1        A01
2        A02
3        A03
4        A04

In [19]:
sample_df = pd.read_csv("examples/sample.csv", names = ['id', 'name', 'ch', 'ph', 'en', 'math'], usecols=['id'])
sample_df

          id
0  studentid
1        A01
2        A02
3        A03
4        A04

In [20]:
sample_df = pd.read_csv("examples/sample.csv", names = ['id', 'name', 'ch', 'ph', 'en', 'math'], usecols=['id', 'name'])
sample_df

          id         name
0  studentid         name
1        A01     arif ali
2        A02  kamran khan
3        A03   imran ali
4        A04  kashif khan

In [21]:
sample_df = pd.read_csv("examples/sample.csv", names = ['id', 'name', 'ch', 'ph', 'en', 'math'], usecols=['id', 'name', 'ch'])
sample_df

          id         name          ch
0  studentid         name   chimestry
1        A01     arif ali          20
2        A02  kamran khan          30
3        A03   imran ali           40
4        A04  kashif khan          50

In [22]:
sample_df = pd.read_csv("examples/sample.csv", names = ['id', 'name', 'ch', 'ph', 'en', 'math'], usecols=['id', 'name', 'ch', 'ph'])
sample_df

          id         name          ch        ph
0  studentid         name   chimestry   physics
1        A01     arif ali          20        30
2        A02  kamran khan          30        40
3        A03   imran ali           40        50
4        A04  kashif khan          50        60

In [23]:
sample_df = pd.read_csv("examples/sample.csv", names = ['id', 'name', 'ch', 'ph', 'en', 'math'], usecols=['id', 'name', 'ch', 'ph', 'en'])
sample_df

          id         name          ch        ph        en
0  studentid         name   chimestry   physics   english
1        A01     arif ali          20        30        40
2        A02  kamran khan          30        40        50
3        A03   imran ali           40        50        60
4        A04  kashif khan          50        60        70

In [24]:
sample_df = pd.read_csv("examples/sample.csv", names = ['id', 'name', 'ch', 'ph', 'en', 'math'], usecols=['id', 'name', 'ch', 'ph', 'en', 'math'])
sample_df

          id         name          ch        ph        en   math
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [25]:
sample_df = pd.read_csv("examples/sample.csv", usecols=[1])
sample_df

          name
0     arif ali
1  kamran khan
2   imran ali
3  kashif khan

In [26]:
sample_df = pd.read_csv("examples/sample.csv", usecols=['studentid'])
sample_df

  studentid
0       A01
1       A02
2       A03
3       A04

In [27]:
# book auther example
sample_df = pd.read_csv("examples/ex1.csv")
sample_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo