In [1]:
# must need to import pandas
import pandas as pd

In [2]:
# using Series Function
a = pd.Series([4,7,-5,3])
print(a)

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
# using Series Function
b = pd.Series([[4,7,-5,3],[14,17,-15,13]])
print(b)

0        [4, 7, -5, 3]
1    [14, 17, -15, 13]
dtype: object

In [4]:
# using Series Function
c = pd.Series([[4,7,-5,3],[[14,17,-15,13,14,17,-15,13]]])
print(c)

0                           [4, 7, -5, 3]
1    [[14, 17, -15, 13, 14, 17, -15, 13]]
dtype: object

In [5]:
# using Series Function
d = pd.Series([[4,7,-5,3],[14,17,-15,13],[4,7,-5,3],[14,17,-15,13]])
print(d)

0        [4, 7, -5, 3]
1    [14, 17, -15, 13]
2        [4, 7, -5, 3]
3    [14, 17, -15, 13]
dtype: object

# Pandas Series Has Two Things In One Object

# 1 Values

# 2 Index

In [6]:
# create sales Series
sales = pd.Series([100,200,100,400])
print(sales.values)
print(sales.index)

[100 200 100 400]
RangeIndex(start=0, stop=4, step=1)

In [7]:
# the indexing is compulsory from numeric number
# any thing you used in indexing mean you use ['a','b','c','d'] etc
# bydefault indexing is numeric
sales = pd.Series([100,200,100,400], index = ['a','b','c','d'])
print(sales)

a    100
b    200
c    100
d    400
dtype: int64

In [8]:
# the indexing is compulsory from numeric number
# any thing you used in indexing mean you use ['a','b','c','d'] etc
# bydefault indexing is numeric
sales = pd.Series([100,200,100,400], index = ['a','b','c','d'])
print(sales)

a    100
b    200
c    100
d    400
dtype: int64

In [9]:
# the indexing is compulsory from numeric number
# any thing you used in indexing mean you use ['Jan','Feb','Mar','Apr'] etc
# bydefault indexing is numeric
sales = pd.Series([100,200,100,400], index = ['Jan','Feb','Mar','Apr'])
print(sales)

Jan    100
Feb    200
Mar    100
Apr    400
dtype: int64

In [10]:
# your choice to print values and index
print(sales.values)
print(sales.index)

[100 200 100 400]
Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

In [11]:
# the indexing is compulsory from numeric number
# give name of the series
# any thing you used in indexing mean you use ['Jan','Feb','Mar','Apr'] etc
# bydefault indexing is numeric
sales = pd.Series([100,200,100,400], index = ['Jan','Feb','Mar','Apr'], name = "4 month sales")
print(sales)

Jan    100
Feb    200
Mar    100
Apr    400
Name: 4 month sales, dtype: int64

# Create a pandas series to store a canteen data to hold values of how many sandwithes are sold each days (one week)

In [12]:
# Create sandwithes(sw) Series 
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fi', 'Sat', 'Sun'])
print(sw)

Mon    20
Tue    30
Wed    20
Thu    25
Fi     30
Sat    40
Sun     0
dtype: int64

In [13]:
# Create sandwithes(sw) Series 
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], 
               index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fi', 'Sat', 'Sun'], 
               name = "Sandwithes Weekly Sales Record")
print(sw)

Mon    20
Tue    30
Wed    20
Thu    25
Fi     30
Sat    40
Sun     0
Name: Sandwithes Weekly Sales Record, dtype: int64

In [14]:
# Create sandwithes(sw) Series 
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], 
               index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fi', 'Sat', 'Sun'], 
               name = "Sandwithes Weekly Sales Record")
print(sw)
print(sw.values)
print(sw.index)

Mon    20
Tue    30
Wed    20
Thu    25
Fi     30
Sat    40
Sun     0
Name: Sandwithes Weekly Sales Record, dtype: int64
[20 30 20 25 30 40  0]
Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fi', 'Sat', 'Sun'], dtype='object')

In [15]:
# access data using numpy method
print(sw[1])

30

In [16]:
# access data using pandas method using index name
print(sw["Tue"])

30

In [17]:
# access data using pandas method using index name
print(sw["Mon"])

20

In [18]:
# access data using pandas method
print(sw[[3,5]])

Thu    25
Sat    40
Name: Sandwithes Weekly Sales Record, dtype: int64

In [19]:
# access data using pandas method using index name
print(sw[["Mon", "Thu"]])

Mon    20
Thu    25
Name: Sandwithes Weekly Sales Record, dtype: int64

# For Providing Multiple Index For Selecting Element In An Pandas Series, Use Array Notation

In [20]:
# conditional selection
# check the sales of the sandwithes per day greater than 20
print(sw[sw > 20])

Tue    30
Thu    25
Fi     30
Sat    40
Name: Sandwithes Weekly Sales Record, dtype: int64

In [21]:
# multiply sw bay 2
# if you multiply sw * 2, the values will be multiply but the result can't store
sw * 2

Mon    40
Tue    60
Wed    40
Thu    50
Fi     60
Sat    80
Sun     0
Name: Sandwithes Weekly Sales Record, dtype: int64

In [22]:
# if the result can't store the sw display old values
# if you store the multiply result than creat a object sw and store it
sw = sw * 2
print(sw)

Mon    40
Tue    60
Wed    40
Thu    50
Fi     60
Sat    80
Sun     0
Name: Sandwithes Weekly Sales Record, dtype: int64

In [23]:
print(sw)

Mon    40
Tue    60
Wed    40
Thu    50
Fi     60
Sat    80
Sun     0
Name: Sandwithes Weekly Sales Record, dtype: int64

In [24]:
# adding 2 in givan values
sw = sw + 2
print(sw)

Mon    42
Tue    62
Wed    42
Thu    52
Fi     62
Sat    82
Sun     2
Name: Sandwithes Weekly Sales Record, dtype: int64

In [25]:
# subtract 2 in givan values
sw = sw - 2
print(sw)

Mon    40
Tue    60
Wed    40
Thu    50
Fi     60
Sat    80
Sun     0
Name: Sandwithes Weekly Sales Record, dtype: int64

In [26]:
# Modulus 9 in givan values
sw = sw % 9
print(sw)

Mon    4
Tue    6
Wed    4
Thu    5
Fi     6
Sat    8
Sun    0
Name: Sandwithes Weekly Sales Record, dtype: int64

In [27]:
# Divide 9 in givan values
sw = sw / 9
print(sw)

Mon    0.444444
Tue    0.666667
Wed    0.444444
Thu    0.555556
Fi     0.666667
Sat    0.888889
Sun    0.000000
Name: Sandwithes Weekly Sales Record, dtype: float64

In [28]:
# checking index in givan series exist or not_exist
'Mon' in sw

True

In [29]:
# checking index in givan series exist or not_exist
1 in sw

False

In [30]:
# checking index in givan series exist or not_exist
'Jan' in sw

False

In [32]:
# checking index in givan series exist or not_exist
'Mon', 'Thu' in sw

('Mon', True)

In [33]:
# checking index in givan series exist or not_exist
'Mon', 5 in sw

('Mon', False)

In [34]:
# checking index in givan series exist or not_exist
'Mon', 'Jan' in sw

('Mon', False)

In [35]:
# checking index in givan series exist or not_exist
'Jan', '5' in sw

('Jan', False)

In [36]:
# checking index in givan series exist or not_exist
'Jan', 'Thu' in sw

('Jan', True)

In [43]:
# checking index in givan series exist or not_exist
'Jan' or 'Thu' in sw

'Jan'

In [44]:
# checking index in givan series exist or not_exist
'Jan' or 'Thu' or 'Feb' in sw

'Jan'

In [49]:
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], 
               index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fi', 'Sat', 'Sun'], 
               name = "Sandwithes Weekly Sales Record")

# checking index in givan series exist or not_exist
20 or 40 in sw

20

In [50]:
# checking index in givan series exist or not_exist
'Jan' and 'Thu' in sw

True

In [51]:
# checking index in givan series exist or not_exist
('Jan' and 'Thu') in sw

True

In [52]:
import numpy as np
# ind mean index

arr = np.array([3, 2, 4, 5, 6])
ind = np.array(['a','b','c','d','e'])

obj = pd.Series(arr, index = ind) # arr mean get values and index = ind mean get index
print(obj)

a    3
b    2
c    4
d    5
e    6
dtype: int32

# Creatin Series Using Dictionary

In [53]:
# fetch data in dictionary
sdata = {"Sindh": 35000, "Punjab": 4500, "KPK": 300, "Balochistan": 2000}

# create Series tax_by_state
# provide Dictionary data in pandas series
# pandas use dictionary keys as a index and values as a values
tax_by_state = pd.Series(sdata)
print(tax_by_state)

Sindh          35000
Punjab          4500
KPK              300
Balochistan     2000
dtype: int64

In [54]:
 # fetch data in dictionary
sdata = {"Sindh": 35000, "Punjab": 4500, "KPK": 300, "Balochistan": 2000}

# create Series tax_by_state
# provide Dictionary data in pandas series
# pandas use dictionary keys as a index and values as a values
tax_by_state = pd.Series(sdata)
print(tax_by_state)

# for example we separately index and values so
print(tax_by_state.index)
print(tax_by_state.values)

Sindh          35000
Punjab          4500
KPK              300
Balochistan     2000
dtype: int64
Index(['Sindh', 'Punjab', 'KPK', 'Balochistan'], dtype='object')
[35000  4500   300  2000]

In [55]:
 # fetch data in dictionary
sdata = {"Sindh": 35000, "Punjab": 45000, "KPK": 3000, "Balochistan": 20000}

# create Series tax_by_state
# provide Dictionary data in pandas series
# pandas use dictionary keys as a index and values as a values
# chane the index series mean we write first "Punjab"
tax_by_state = pd.Series(sdata, index = ["Punjab", "Sindh", "KPK", "Balochistan"])
print(tax_by_state)

# for example we separately index and values so
# print(tax_by_state.index)
# print(tax_by_state.values)

Punjab         45000
Sindh          35000
KPK             3000
Balochistan    20000
dtype: int64

In [56]:
 # fetch data in dictionary
sdata = {"Sindh": 35000, "Punjab": 45000, "KPK": 3000, "Balochistan": 20000}

# create Series tax_by_state
# provide Dictionary data in pandas series
# pandas use dictionary keys as a index and values as a values
# chane the index series mean we write first "Punjab"
# Identify null value given index
# We write "Gilgit Baltistan" in index
tax_by_state = pd.Series(sdata, index = ["Punjab", "Sindh", "KPK", "Balochistan", "Gilgit Baltistan"])
print(tax_by_state)
print(pd.isnull(tax_by_state))

Punjab              45000.0
Sindh               35000.0
KPK                  3000.0
Balochistan         20000.0
Gilgit Baltistan        NaN
dtype: float64
Punjab              False
Sindh               False
KPK                 False
Balochistan         False
Gilgit Baltistan     True
dtype: bool

In [57]:
# NaN values mean, values does not exist in pandas series
pd.isnull(tax_by_state)
tax_by_state.isnull()

Punjab              False
Sindh               False
KPK                 False
Balochistan         False
Gilgit Baltistan     True
dtype: bool

In [58]:
tax_by_state.name = "State Tax Paying Capacity"
tax_by_state.index.name = "State Name"
print(tax_by_state)
print(tax_by_state.index)

State Name
Punjab              45000.0
Sindh               35000.0
KPK                  3000.0
Balochistan         20000.0
Gilgit Baltistan        NaN
Name: State Tax Paying Capacity, dtype: float64
Index(['Punjab', 'Sindh', 'KPK', 'Balochistan', 'Gilgit Baltistan'], dtype='object', name='State Name')

In [59]:
# Create sandwithes(sw) Series 
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fi', 'Sat', 'Sun'])
print(sw)

sw.index = ["M", "T", "W", "T", "F", "S", "S"]

Mon    20
Tue    30
Wed    20
Thu    25
Fi     30
Sat    40
Sun     0
dtype: int64

In [60]:
# Create sandwithes(sw) Series 
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fi', 'Sat', 'Sun'])
print(sw)

# change index name
sw.index = ["M", "T", "W", "T", "F", "S", "S"]
print(sw)

Mon    20
Tue    30
Wed    20
Thu    25
Fi     30
Sat    40
Sun     0
dtype: int64
M    20
T    30
W    20
T    25
F    30
S    40
S     0
dtype: int64

**Source For Series Data**
    *direct data in the Series Method
    *From NumPy Array Or List
    *From Dictionary