In [1]:
import pandas as pd

In [3]:
# extracting selected rows from a large datasets
pd.read_csv('datasets/train.csv', nrows = 500)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1066,0,1.6,0,5,0,39,0.6,131,5,...,401,1586,2728,6,0,17,1,1,1,2
496,1554,1,0.5,1,11,0,5,1.0,124,3,...,395,1579,3635,7,4,18,0,0,0,3
497,1337,0,0.5,0,13,0,31,0.8,186,2,...,48,644,2180,7,4,16,1,0,1,1
498,1926,1,1.7,1,1,1,33,0.4,172,3,...,982,1157,2488,6,1,14,1,0,0,2
499,869,0,1.3,1,3,0,34,0.1,104,2,...,478,539,3864,13,3,11,1,0,0,3

In [4]:
pd.read_csv('datasets/train.csv', nrows = 200)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1526,0,2.1,0,1,1,23,0.2,117,7,...,718,751,2227,18,10,3,1,1,0,2
196,1989,0,2.5,1,0,1,41,0.8,94,3,...,1100,1497,1665,17,9,12,1,1,1,2
197,1308,0,1.9,0,0,1,61,0.7,106,3,...,59,1215,3355,15,2,4,1,0,1,3
198,609,0,0.5,0,3,0,26,0.3,93,4,...,938,1948,1866,11,10,14,1,1,1,1
199,1905,0,0.6,1,9,1,36,0.4,119,3,...,825,1542,1287,13,4,16,1,0,0,1

In [5]:
pd.read_csv('datasets/train.csv', nrows = 50)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1004,1654,1067,17,1,10,1,0,0,1
6,1821,0,1.7,0,4,1,10,0.8,139,8,...,381,1018,3220,13,8,18,1,0,1,3
7,1954,0,0.5,1,0,0,24,0.8,187,4,...,512,1149,700,16,3,5,1,1,1,0
8,1445,1,0.5,0,0,0,53,0.7,174,7,...,386,836,1099,17,1,20,1,0,0,0
9,509,1,0.6,1,2,1,9,0.1,93,5,...,1137,1224,513,19,10,12,1,0,0,0
10,769,1,2.9,1,0,0,9,0.1,182,5,...,248,874,3946,5,2,7,0,0,0,3
11,1520,1,2.2,0,5,1,33,0.5,177,8,...,151,1005,3826,14,9,13,1,1,1,3
12,1815,0,2.8,0,2,0,33,0.6,159,4,...,607,748,1482,18,0,2,1,0,0,1
13,803,1,2.1,0,7,0,17,1.0,198,4,...,344,1440,2680,7,1,4,1,0,1,2
14,1866,0,0.5,0,13,1,52,0.7,185,1,...,356,563,373,14,9,3,1,0,1,0
15,775,0,1.0,0,3,0,46,0.7,159,2,...,862,1864,568,17,15,11,1,1,1,0
16,838,0,0.5,0,1,1,13,0.1,196,8,...,984,1850,3554,10,9,19,1,0,1,3
17,595,0,0.9,1,7,1,23,0.1,121,3,...,441,810,3752,10,2,18,1,1,0,3
18,1131,1,0.5,1,11,0,49,0.6,101,5,...,658,878,1835,19,13,16,1,1,0,1
19,682,1,0.5,0,4,0,19,1.0,121,4,...,902,1064,2337,11,1,18,0,1,1,1
20,772,0,1.1,1,12,0,39,0.8,81,7,...,1314,1854,2819,17,15,3,1,1,0,3
21,1709,1,2.1,0,1,0,13,1.0,156,2,...,974,1385,3283,17,1,15,1,0,0,3
22,1949,0,2.6,1,4,0,47,0.3,199,4,...,407,822,1433,11,5,20,0,0,1,1
23,1602,1,2.8,1,4,1,38,0.7,114,3,...,466,788,1037,8,7,20,1,0,0,0
24,503,0,1.2,1,5,1,8,0.4,111,3,...,201,1245,2583,11,0,12,1,0,0,1
25,961,1,1.4,1,0,1,57,0.6,114,8,...,291,1434,2782,18,9,7,1,1,1,2
26,519,1,1.6,1,7,1,51,0.3,132,4,...,550,645,3763,16,1,4,1,0,1,3
27,956,0,0.5,0,1,1,41,1.0,143,7,...,511,1075,3286,17,8,12,1,1,0,3
28,1453,0,1.6,1,12,1,52,0.3,96,2,...,187,1311,2373,10,1,10,1,1,1,2
29,851,0,0.5,0,3,0,21,0.4,200,5,...,1171,1263,478,12,7,10,1,0,1,0
30,1579,1,0.5,1,0,0,5,0.2,88,7,...,1358,1739,3532,17,11,12,0,0,1,3
31,1568,1,0.5,0,16,0,33,1.0,150,8,...,413,654,508,5,1,6,1,1,1,0
32,1319,1,0.9,0,3,1,41,0.9,107,1,...,85,1152,2227,18,5,3,1,1,1,1
33,1310,1,2.2,1,0,1,51,0.6,100,4,...,178,1919,3845,7,0,12,1,1,0,3
34,644,1,2.7,0,0,0,22,0.7,157,8,...,311,881,1262,12,1,15,1,0,0,0
35,725,0,1.3,1,16,0,60,0.4,160,8,...,1134,1249,1326,10,4,15,1,0,0,1
36,589,1,2.3,1,1,0,61,0.6,160,4,...,429,815,2113,13,7,2,1,0,1,1
37,1725,1,1.6,1,6,1,6,0.5,119,2,...,609,1307,3429,6,5,4,1,1,0,3
38,790,0,2.0,1,16,1,11,0.3,87,6,...,347,730,3169,6,1,2,1,0,1,2
39,560,0,0.5,1,15,0,50,0.3,159,2,...,1448,1613,2150,18,12,11,1,1,0,2
40,1347,0,2.9,0,5,0,44,0.6,132,1,...,434,967,2484,18,2,11,1,0,1,2
41,1646,1,2.3,0,8,1,41,0.2,185,2,...,1725,1932,3339,18,10,19,1,1,0,3
42,1253,1,0.5,1,5,1,5,0.2,152,2,...,685,714,1878,15,0,4,1,1,0,1
43,1656,0,1.0,0,5,1,34,0.1,166,3,...,880,1456,1629,15,12,14,1,1,0,1
44,1195,1,2.8,0,1,1,20,0.8,110,2,...,1580,1652,504,9,3,12,1,1,0,0
45,1514,0,2.9,0,0,0,27,0.2,118,3,...,186,1810,1152,8,3,20,0,1,1,1
46,1723,1,1.1,1,1,0,42,1.0,164,8,...,202,1791,3587,10,5,3,1,0,0,3
47,1054,1,1.8,1,3,1,40,0.8,196,7,...,27,774,2296,16,12,12,1,0,1,1
48,578,1,2.6,1,2,1,57,0.2,162,8,...,1025,1433,1270,15,3,5,1,0,1,0
49,596,0,2.1,1,9,0,64,0.8,111,8,...,885,1854,3238,16,13,10,0,0,0,3

In [7]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 100)
print(type(chunks), print(chunks))

<pandas.io.parsers.TextFileReader object at 0x000002029E638F48>
<class 'pandas.io.parsers.TextFileReader'> None

In [8]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 200)
print(type(chunks), print(chunks))

<pandas.io.parsers.TextFileReader object at 0x000002029E638C48>
<class 'pandas.io.parsers.TextFileReader'> None

In [9]:
# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    # each chunk will work as dataframe
    # the 200 data divide 10 chunk
    print(type(chunk), len(chunk))

<class 'pandas.core.frame.DataFrame'> 200
<class 'pandas.core.frame.DataFrame'> 200
<class 'pandas.core.frame.DataFrame'> 200
<class 'pandas.core.frame.DataFrame'> 200
<class 'pandas.core.frame.DataFrame'> 200
<class 'pandas.core.frame.DataFrame'> 200
<class 'pandas.core.frame.DataFrame'> 200
<class 'pandas.core.frame.DataFrame'> 200
<class 'pandas.core.frame.DataFrame'> 200
<class 'pandas.core.frame.DataFrame'> 200

In [13]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 100)
print(type(chunks), print(chunks))

# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    # each chunk will work as dataframe
    # the 200 data divide 10 chunk
    print(type(chunk), len(chunk))
    # if we read chunk data than use chunk.head this will show first 5 values to each chunk
    print(chunk.head())

<pandas.io.parsers.TextFileReader object at 0x000002029E616488>
<class 'pandas.io.parsers.TextFileReader'> None
<class 'pandas.core.frame.DataFrame'> 100
   battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
0            842     0          2.2         0   1       0           7    0.6
1           1021     1          0.5         1   0       1          53    0.7
2            563     1          0.5         1   2       1          41    0.9
3            615     1          2.5         0   0       0          10    0.8
4           1821     1          1.2         0  13       1          44    0.6

   mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0        188        2  ...         20       756  2549     9     7         19
1        136        3  ...        905      1988  2631    17     3          7
2        145        5  ...       1263      1716  2603    11     2          9
3        131        6  ...       1216      1786  2769    16     8         11
4        141        2  ...       1208      1212  1411     8     2         15

   three_g  touch_screen  wifi  price_range
0        0             0     1            1
1        1             1     0            2
2        1             1     0            2
3        1             0     0            2
4        1             1     0            1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
100           1883     1          0.5         0   3       1          10
101           1732     1          1.1         0   4       1          12
102            543     0          0.5         0   0       0          57
103           1939     1          2.8         1   0       1          55
104            553     0          2.4         1   1       1           8

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
100    0.3        146        6  ...        836      1739  2600    16     8
101    0.8        119        8  ...        824       881  1308    16     7
102    0.7        192        5  ...        391       984  2413    17    14
103    0.6        199        4  ...        320       520  1047    14    10
104    0.5        121        7  ...        325       902  1204    11     4

     talk_time  three_g  touch_screen  wifi  price_range
100         20        1             0     0            3
101         11        1             0     1            1
102         15        1             0     0            1
103         18        1             1     0            0
104          8        1             1     1            0

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
200           1703     1          0.5         0   0       1          22
201           1445     1          2.4         1   7       1          20
202           1087     0          1.3         0   0       1          16
203            671     0          0.9         1  10       0          30
204           1472     1          2.3         0   6       0          61

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
200    0.6        192        1  ...        286      1235  1046     5     4
201    0.4        173        7  ...       1273      1345  1441     7     4
202    0.3        166        3  ...        295       589   690    14     6
203    0.7        105        7  ...        852      1182  2504     6     4
204    0.1        168        6  ...        710      1052  2677    19    15

     talk_time  three_g  touch_screen  wifi  price_range
200         13        1             0     1            0
201         13        1             1     1            1
202          6        1             0     1            0
203         15        1             0     0            2
204          8        1             0     0            2

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
300           1937     1          1.7         0  17       0          58
301            977     1          1.1         1   2       0          57
302            768     1          0.9         0  16       1          56
303           1464     1          0.5         1  11       0          12
304           1177     0          0.9         0   1       1          29

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
300    0.6        189        1  ...       1728      1767  3321     5     4
301    0.6        181        6  ...         63       566  1206     7     1
302    0.1        113        1  ...        418       515   952    19     3
303    0.9        117        2  ...        854      1168  3927     5     3
304    0.4        191        2  ...        178       882   311    18     5

     talk_time  three_g  touch_screen  wifi  price_range
300         14        1             1     0            3
301          8        0             1     1            0
302         16        1             0     1            0
303         15        0             1     1            3
304         19        1             0     0            0

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
400           1266     0          1.9         1   0       1           7
401           1042     0          2.7         1  16       1          50
402           1479     0          0.5         0   8       0          19
403           1476     1          1.2         1   0       1          55
404           1552     1          2.2         0   6       1          13

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
400    0.2        184        3  ...        346      1468  2532    10     5
401    0.8         93        7  ...        727      1705  3215    18     0
402    0.6        156        3  ...        180      1476  3323    13    12
403    0.1        171        4  ...       1641      1666  1529    13     8
404    0.2        123        6  ...        269      1026  2403     9     2

     talk_time  three_g  touch_screen  wifi  price_range
400          4        1             1     1            2
401         20        1             1     1            3
402          6        1             0     1            3
403          3        1             0     1            2
404          9        1             1     1            2

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
500           1278     1          0.5         1   1       0          54
501           1773     1          2.5         0  16       1          32
502           1661     1          0.8         1   1       1           6
503           1438     0          2.2         0   0       1          32
504           1661     1          1.4         0   0       0          29

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
500    0.1        104        8  ...        581       750  1155     7     1
501    0.6        170        6  ...       1215      1472  3566    17     6
502    1.0        109        7  ...        594      1337   864     9     8
503    0.6        176        7  ...        683      1663   869    19    13
504    0.3        119        2  ...        536       861   591     9     2

     talk_time  three_g  touch_screen  wifi  price_range
500         20        0             0     1            0
501         13        1             0     1            3
502          2        1             0     1            1
503          9        1             1     1            0
504          9        1             1     1            0

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
600           1170     0          2.9         1   2       0          40
601           1595     1          0.8         1   0       1          44
602           1719     1          2.0         0   0       0          12
603           1770     0          2.3         1   0       0           7
604           1312     0          0.5         1   0       1          28

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
600    0.4        169        6  ...        427       684  2366    16     8
601    0.7         85        4  ...       1024      1838  3881    14    10
602    0.3        122        8  ...        240       904   462     6     3
603    0.8        128        7  ...        886      1552  1480     6     1
604    0.8        163        2  ...       1233      1854  1087    17    16

     talk_time  three_g  touch_screen  wifi  price_range
600          2        1             1     1            1
601          9        1             0     1            3
602          5        0             0     0            0
603         17        1             0     0            1
604         14        1             0     0            1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
700            561     1          2.1         1   7       1           2
701           1717     1          1.3         0   1       0          62
702            535     0          1.5         0   1       1          48
703           1413     0          0.5         1   4       1          39
704           1358     0          2.5         1   0       0          20

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
700    0.1        193        3  ...       1055      1294   665    10     0
701    0.7        130        1  ...        609       810  3226     6     4
702    0.7        113        1  ...        290       811   740    11    10
703    0.1        185        5  ...       1039      1318  3878    19    16
704    0.6        135        7  ...       1485      1655  3406     5     1

     talk_time  three_g  touch_screen  wifi  price_range
700          4        1             1     0            0
701          5        0             1     0            3
702         18        1             1     0            0
703          4        1             0     0            3
704         11        0             0     1            3

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100

     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
800           1439     0          0.9         0  12       1          20
801           1422     0          1.0         0  15       0           3
802           1591     1          2.2         1   4       1          52
803            880     0          1.7         0   2       0           6
804           1929     1          0.5         1   0       1          19

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
800    0.8        147        1  ...        626       932  1790    19    12
801    0.1        112        1  ...          1       926   509    19     1
802    1.0        161        3  ...        548      1641   282    10     9
803    0.6        198        4  ...        632       660  3006     6     4
804    1.0        163        6  ...        349      1051  1913    12     7

     talk_time  three_g  touch_screen  wifi  price_range
800         15        1             0     1            1
801          3        1             1     1            0
802         14        1             1     1            0
803          3        1             0     0            2
804          6        1             1     0            1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
900           1005     0          0.5         0   0       0          46
901            783     1          1.7         1   9       1          27
902           1698     0          2.5         0  10       1          26
903            899     1          2.7         0   3       1          53
904           1062     0          1.5         0   3       0          45

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
900    0.4        133        8  ...        176      1556  3884    17     0
901    0.3        150        6  ...        458      1263  1185    15     4
902    0.4        105        2  ...        485      1819  1656     5     3
903    0.3        192        4  ...        641      1638  2870    19    16
904    0.2        151        3  ...        798      1435   911    14     2

     talk_time  three_g  touch_screen  wifi  price_range
900         20        0             1     1            3
901          6        1             1     1            0
902         17        1             0     1            2
903         10        1             0     1            2
904          9        0             0     0            0

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1000            594     0          0.8         0   2       1          28
1001           1524     0          2.6         1   5       0          57
1002            511     1          0.6         1  12       0          50
1003           1402     1          0.6         1   3       0          46
1004            965     1          0.5         0  15       0          53

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1000    0.1        132        5  ...       1011      1263  3087    16     4
1001    0.5        124        2  ...        629       635   947    11     4
1002    0.1        175        3  ...        140       622  1484     9     7
1003    0.3         87        7  ...       1081      1767   347    17     0
1004    1.0        131        8  ...        297       653  3227    12     6

      talk_time  three_g  touch_screen  wifi  price_range
1000          4        1             1     1            2
1001         16        0             1     1            0
1002          8        1             0     0            0
1003         12        1             0     1            0
1004          8        1             0     0            2

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1100            741     0          1.5         0   1       0          14
1101           1672     1          0.5         1  13       1          32
1102            514     1          0.7         0   4       0          57
1103           1375     1          1.3         1   2       0          12
1104            989     1          1.8         1   4       1          55

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1100    0.3        178        5  ...        334       594  1886    19    11
1101    0.7        174        1  ...       1281      1896  1267    17     4
1102    0.1        186        3  ...        168      1320   687     6     0
1103    0.1        105        1  ...        898      1687  2890    17     1
1104    0.7        124        1  ...         46      1069  1737     8     5

      talk_time  three_g  touch_screen  wifi  price_range
1100          9        1             1     1            0
1101         20        1             1     0            1
1102         20        1             1     1            0
1103         12        0             0     0            3
1104         10        1             0     1            1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1200            530     0          2.4         0   1       0          32
1201           1481     1          2.0         1   0       0          35
1202           1068     0          2.7         1   0       1          45
1203           1487     0          0.5         0   6       1          57
1204           1524     0          2.5         1  11       1          41

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1200    0.3         88        6  ...         48      1012   959    17     7
1201    0.5        105        3  ...        249       522  2635    17    16
1202    0.6        194        5  ...        935      1499  1754    17     7
1203    0.7         84        3  ...        140       768  2563    18     4
1204    1.0         96        4  ...        184       740  1936     7     0

      talk_time  three_g  touch_screen  wifi  price_range
1200          6        0             1     0            0
1201          4        1             0     1            2
1202          9        1             0     1            1
1203         14        1             0     0            2
1204          9        1             1     1            1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1300            664     0          1.5         0   5       1           6
1301           1874     1          0.6         0   1       0          19
1302           1928     0          2.6         0   5       0           5
1303            888     0          2.6         1   2       1          33
1304           1077     1          1.7         1   1       0          58

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1300    0.9        164        2  ...       1076      1472  3774    11     5
1301    0.8        192        2  ...       1238      1418  1218    15    10
1302    0.8        162        5  ...        229      1004   696    14    12
1303    0.4        198        2  ...        327      1683  3407    12     1
1304    0.8         86        7  ...        135      1892  3902     9     3

      talk_time  three_g  touch_screen  wifi  price_range
1300         18        1             0     0            3
1301         17        0             1     0            1
1302         15        1             1     1            0
1303         20        1             0     0            3
1304          3        1             0     0            3

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1400           1325     1          0.5         0   0       1          13
1401            950     0          0.5         0   6       1          55
1402            948     0          1.5         1   6       0          18
1403           1328     1          0.5         0   5       1          27
1404           1447     0          0.5         0   3       0          40

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1400    1.0        133        4  ...       1353      1915  3707    19     3
1401    0.1        124        8  ...         86      1681  1305     6     5
1402    0.3        119        4  ...        340      1728  2926    17    13
1403    0.3        144        3  ...        602      1156  2674     7     2
1404    0.7        184        2  ...        963      1062   471     8     4

      talk_time  three_g  touch_screen  wifi  price_range
1400         18        1             1     0            3
1401          4        1             0     1            0
1402          9        1             1     1            2
1403          5        1             0     1            2
1404         20        0             0     1            0

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1500           1225     0          0.7         1   6       0          60
1501           1970     1          0.5         1   0       1          15
1502           1186     1          0.5         1   2       0          21
1503           1762     0          0.7         0   7       0          60
1504           1731     1          1.4         1   4       1           4

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1500    0.1        107        2  ...         10      1567  2423    17    11
1501    1.0        132        2  ...       1399      1684  1658    15     9
1502    0.4        160        8  ...         68       584  2361    17     8
1503    0.1        157        4  ...        643       790  1380    14     5
1504    0.5        163        6  ...        809      1988  3892     5     1

      talk_time  three_g  touch_screen  wifi  price_range
1500          6        1             0     0            2
1501         20        1             1     1            2
1502          7        1             0     0            1
1503         14        1             0     0            1
1504          4        1             1     1            3

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1600           1776     1          2.1         1  10       0          35
1601           1254     1          1.2         0   2       1          27
1602           1494     0          1.6         1   4       1          24
1603            984     1          2.2         1   0       1          39
1604           1179     1          0.8         0   1       0           5

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1600    0.1        172        4  ...        278       623  1813    16    13
1601    0.2        134        2  ...       1288      1372   817    14     1
1602    0.2        101        1  ...        979      1190  3614    15    12
1603    0.5        119        8  ...         56      1931  2013    11     7
1604    0.9        154        5  ...        913      1429   543     8     7

      talk_time  three_g  touch_screen  wifi  price_range
1600         20        1             1     1            1
1601         16        1             1     1            0
1602          9        1             0     0            3
1603         16        1             1     0            1
1604         18        0             0     1            0

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1700            742     1          0.5         0   0       1          36
1701           1306     1          2.1         1   2       1          33
1702           1424     1          2.9         1   0       0          20
1703            942     0          1.4         1   8       0          27
1704           1934     1          2.7         0   8       1           2

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1700    0.7        139        3  ...       1161      1288   292     8     0
1701    0.4        174        3  ...        867      1258  2521     6     5
1702    0.6        180        5  ...        181      1199  2658    15     0
1703    0.5         91        4  ...        754      1532   587     6     3
1704    0.1        118        4  ...        242      1127  2190    18     1

      talk_time  three_g  touch_screen  wifi  price_range
1700          6        1             1     1            0
1701         16        1             0     0            2
1702         19        1             0     0            2
1703         13        0             1     1            0
1704          9        1             0     1            2

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1800           1358     0          1.7         0   0       0          60
1801           1035     1          1.9         1   8       0          11
1802           1289     0          0.8         1   3       1          16
1803           1445     0          2.2         1   2       0          37
1804           1702     1          2.3         1  12       1          47

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1800    0.6        147        3  ...        889      1635   440    14    10
1801    1.0        173        6  ...        831      1709  2002    17     8
1802    0.9        161        6  ...        713      1854  3167    14     8
1803    0.4         82        2  ...        527      1393  3480    17    16
1804    0.6        107        2  ...       1284      1643   595    10     0

      talk_time  three_g  touch_screen  wifi  price_range
1800         13        1             0     0            0
1801          5        1             1     0            1
1802         20        1             1     0            3
1803         17        1             1     1            3
1804         19        1             0     1            1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 100
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1900           1619     1          1.9         0   2       1          21
1901            965     1          1.4         0   1       0          13
1902            730     0          1.5         0   9       0           9
1903           1361     1          1.4         0   1       0          47
1904           1494     0          1.6         0   3       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1900    0.4        138        1  ...         46       562  1641     7     2
1901    0.9        197        8  ...        645      1275  2343    17    12
1902    0.7        122        4  ...       1371      1677  2787    10     8
1903    1.0        169        5  ...        881      1382  2495     8     7
1904    0.8        158        5  ...        449       790  3208    11     9

      talk_time  three_g  touch_screen  wifi  price_range
1900         13        1             0     0            1
1901         15        1             0     0            2
1902          7        1             0     1            2
1903         16        0             0     1            2
1904          4        1             0     0            3

[5 rows x 21 columns]

In [14]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 100)
print(type(chunks), print(chunks))

# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    # if we read chunk data than use chunk.head this will show first 5 values to each chunk
    print(chunk.head())

<pandas.io.parsers.TextFileReader object at 0x000002029E6080C8>
<class 'pandas.io.parsers.TextFileReader'> None
   battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
0            842     0          2.2         0   1       0           7    0.6
1           1021     1          0.5         1   0       1          53    0.7
2            563     1          0.5         1   2       1          41    0.9
3            615     1          2.5         0   0       0          10    0.8
4           1821     1          1.2         0  13       1          44    0.6

   mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0        188        2  ...         20       756  2549     9     7         19
1        136        3  ...        905      1988  2631    17     3          7
2        145        5  ...       1263      1716  2603    11     2          9
3        131        6  ...       1216      1786  2769    16     8         11
4        141        2  ...       1208      1212  1411     8     2         15

   three_g  touch_screen  wifi  price_range
0        0             0     1            1
1        1             1     0            2
2        1             1     0            2
3        1             0     0            2
4        1             1     0            1

[5 rows x 21 columns]
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
100           1883     1          0.5         0   3       1          10
101           1732     1          1.1         0   4       1          12
102            543     0          0.5         0   0       0          57
103           1939     1          2.8         1   0       1          55
104            553     0          2.4         1   1       1           8

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
100    0.3        146        6  ...        836      1739  2600    16     8
101    0.8        119        8  ...        824       881  1308    16     7
102    0.7        192        5  ...        391       984  2413    17    14
103    0.6        199        4  ...        320       520  1047    14    10
104    0.5        121        7  ...        325       902  1204    11     4

     talk_time  three_g  touch_screen  wifi  price_range
100         20        1             0     0            3
101         11        1             0     1            1
102         15        1             0     0            1
103         18        1             1     0            0
104          8        1             1     1            0

[5 rows x 21 columns]
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
200           1703     1          0.5         0   0       1          22
201           1445     1          2.4         1   7       1          20
202           1087     0          1.3         0   0       1          16
203            671     0          0.9         1  10       0          30
204           1472     1          2.3         0   6       0          61

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
200    0.6        192        1  ...        286      1235  1046     5     4
201    0.4        173        7  ...       1273      1345  1441     7     4
202    0.3        166        3  ...        295       589   690    14     6
203    0.7        105        7  ...        852      1182  2504     6     4
204    0.1        168        6  ...        710      1052  2677    19    15

     talk_time  three_g  touch_screen  wifi  price_range
200         13        1             0     1            0
201         13        1             1     1            1
202          6        1             0     1            0
203         15        1             0     0            2
204          8        1             0     0            2

[5 rows x 21 columns]
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
300           1937     1          1.7         0  17       0          58
301            977     1          1.1         1   2       0          57
302            768     1          0.9         0  16       1          56
303           1464     1          0.5         1  11       0          12
304           1177     0          0.9         0   1       1          29

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
300    0.6        189        1  ...       1728      1767  3321     5     4
301    0.6        181        6  ...         63       566  1206     7     1
302    0.1        113        1  ...        418       515   952    19     3
303    0.9        117        2  ...        854      1168  3927     5     3
304    0.4        191        2  ...        178       882   311    18     5

     talk_time  three_g  touch_screen  wifi  price_range
300         14        1             1     0            3
301          8        0             1     1            0
302         16        1             0     1            0
303         15        0             1     1            3
304         19        1             0     0            0

[5 rows x 21 columns]
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
400           1266     0          1.9         1   0       1           7
401           1042     0          2.7         1  16       1          50
402           1479     0          0.5         0   8       0          19
403           1476     1          1.2         1   0       1          55
404           1552     1          2.2         0   6       1          13

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
400    0.2        184        3  ...        346      1468  2532    10     5
401    0.8         93        7  ...        727      1705  3215    18     0
402    0.6        156        3  ...        180      1476  3323    13    12
403    0.1        171        4  ...       1641      1666  1529    13     8
404    0.2        123        6  ...        269      1026  2403     9     2

     talk_time  three_g  touch_screen  wifi  price_range
400          4        1             1     1            2
401         20        1             1     1            3
402          6        1             0     1            3
403          3        1             0     1            2
404          9        1             1     1            2

[5 rows x 21 columns]
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
500           1278     1          0.5         1   1       0          54
501           1773     1          2.5         0  16       1          32
502           1661     1          0.8         1   1       1           6
503           1438     0          2.2         0   0       1          32
504           1661     1          1.4         0   0       0          29

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
500    0.1        104        8  ...        581       750  1155     7     1
501    0.6        170        6  ...       1215      1472  3566    17     6
502    1.0        109        7  ...        594      1337   864     9     8
503    0.6        176        7  ...        683      1663   869    19    13
504    0.3        119        2  ...        536       861   591     9     2

     talk_time  three_g  touch_screen  wifi  price_range
500         20        0             0     1            0
501         13        1             0     1            3
502          2        1             0     1            1
503          9        1             1     1            0
504          9        1             1     1            0

[5 rows x 21 columns]
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
600           1170     0          2.9         1   2       0          40
601           1595     1          0.8         1   0       1          44
602           1719     1          2.0         0   0       0          12
603           1770     0          2.3         1   0       0           7
604           1312     0          0.5         1   0       1          28

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
600    0.4        169        6  ...        427       684  2366    16     8
601    0.7         85        4  ...       1024      1838  3881    14    10
602    0.3        122        8  ...        240       904   462     6     3
603    0.8        128        7  ...        886      1552  1480     6     1
604    0.8        163        2  ...       1233      1854  1087    17    16

     talk_time  three_g  touch_screen  wifi  price_range
600          2        1             1     1            1
601          9        1             0     1            3
602          5        0             0     0            0
603         17        1             0     0            1
604         14        1             0     0            1

[5 rows x 21 columns]
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
700            561     1          2.1         1   7       1           2
701           1717     1          1.3         0   1       0          62
702            535     0          1.5         0   1       1          48
703           1413     0          0.5         1   4       1          39
704           1358     0          2.5         1   0       0          20

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
700    0.1        193        3  ...       1055      1294   665    10     0
701    0.7        130        1  ...        609       810  3226     6     4
702    0.7        113        1  ...        290       811   740    11    10
703    0.1        185        5  ...       1039      1318  3878    19    16
704    0.6        135        7  ...       1485      1655  3406     5     1

     talk_time  three_g  touch_screen  wifi  price_range
700          4        1             1     0            0
701          5        0             1     0            3
702         18        1             1     0            0
703          4        1             0     0            3
704         11        0             0     1            3

[5 rows x 21 columns]
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
800           1439     0          0.9         0  12       1          20
801           1422     0          1.0         0  15       0           3
802           1591     1          2.2         1   4       1          52
803            880     0          1.7         0   2       0           6
804           1929     1          0.5         1   0       1          19

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
800    0.8        147        1  ...        626       932  1790    19    12
801    0.1        112        1  ...          1       926   509    19     1
802    1.0        161        3  ...        548      1641   282    10     9
803    0.6        198        4  ...        632       660  3006     6     4
804    1.0        163        6  ...        349      1051  1913    12     7

     talk_time  three_g  touch_screen  wifi  price_range
800         15        1             0     1            1
801          3        1             1     1            0
802         14        1             1     1            0
803          3        1             0     0            2
804          6        1             1     0            1

[5 rows x 21 columns]

     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
900           1005     0          0.5         0   0       0          46
901            783     1          1.7         1   9       1          27
902           1698     0          2.5         0  10       1          26
903            899     1          2.7         0   3       1          53
904           1062     0          1.5         0   3       0          45

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
900    0.4        133        8  ...        176      1556  3884    17     0
901    0.3        150        6  ...        458      1263  1185    15     4
902    0.4        105        2  ...        485      1819  1656     5     3
903    0.3        192        4  ...        641      1638  2870    19    16
904    0.2        151        3  ...        798      1435   911    14     2

     talk_time  three_g  touch_screen  wifi  price_range
900         20        0             1     1            3
901          6        1             1     1            0
902         17        1             0     1            2
903         10        1             0     1            2
904          9        0             0     0            0

[5 rows x 21 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1000            594     0          0.8         0   2       1          28
1001           1524     0          2.6         1   5       0          57
1002            511     1          0.6         1  12       0          50
1003           1402     1          0.6         1   3       0          46
1004            965     1          0.5         0  15       0          53

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1000    0.1        132        5  ...       1011      1263  3087    16     4
1001    0.5        124        2  ...        629       635   947    11     4
1002    0.1        175        3  ...        140       622  1484     9     7
1003    0.3         87        7  ...       1081      1767   347    17     0
1004    1.0        131        8  ...        297       653  3227    12     6

      talk_time  three_g  touch_screen  wifi  price_range
1000          4        1             1     1            2
1001         16        0             1     1            0
1002          8        1             0     0            0
1003         12        1             0     1            0
1004          8        1             0     0            2

[5 rows x 21 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1100            741     0          1.5         0   1       0          14
1101           1672     1          0.5         1  13       1          32
1102            514     1          0.7         0   4       0          57
1103           1375     1          1.3         1   2       0          12
1104            989     1          1.8         1   4       1          55

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1100    0.3        178        5  ...        334       594  1886    19    11
1101    0.7        174        1  ...       1281      1896  1267    17     4
1102    0.1        186        3  ...        168      1320   687     6     0
1103    0.1        105        1  ...        898      1687  2890    17     1
1104    0.7        124        1  ...         46      1069  1737     8     5

      talk_time  three_g  touch_screen  wifi  price_range
1100          9        1             1     1            0
1101         20        1             1     0            1
1102         20        1             1     1            0
1103         12        0             0     0            3
1104         10        1             0     1            1

[5 rows x 21 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1200            530     0          2.4         0   1       0          32
1201           1481     1          2.0         1   0       0          35
1202           1068     0          2.7         1   0       1          45
1203           1487     0          0.5         0   6       1          57
1204           1524     0          2.5         1  11       1          41

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1200    0.3         88        6  ...         48      1012   959    17     7
1201    0.5        105        3  ...        249       522  2635    17    16
1202    0.6        194        5  ...        935      1499  1754    17     7
1203    0.7         84        3  ...        140       768  2563    18     4
1204    1.0         96        4  ...        184       740  1936     7     0

      talk_time  three_g  touch_screen  wifi  price_range
1200          6        0             1     0            0
1201          4        1             0     1            2
1202          9        1             0     1            1
1203         14        1             0     0            2
1204          9        1             1     1            1

[5 rows x 21 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1300            664     0          1.5         0   5       1           6
1301           1874     1          0.6         0   1       0          19
1302           1928     0          2.6         0   5       0           5
1303            888     0          2.6         1   2       1          33
1304           1077     1          1.7         1   1       0          58

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1300    0.9        164        2  ...       1076      1472  3774    11     5
1301    0.8        192        2  ...       1238      1418  1218    15    10
1302    0.8        162        5  ...        229      1004   696    14    12
1303    0.4        198        2  ...        327      1683  3407    12     1
1304    0.8         86        7  ...        135      1892  3902     9     3

      talk_time  three_g  touch_screen  wifi  price_range
1300         18        1             0     0            3
1301         17        0             1     0            1
1302         15        1             1     1            0
1303         20        1             0     0            3
1304          3        1             0     0            3

[5 rows x 21 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1400           1325     1          0.5         0   0       1          13
1401            950     0          0.5         0   6       1          55
1402            948     0          1.5         1   6       0          18
1403           1328     1          0.5         0   5       1          27
1404           1447     0          0.5         0   3       0          40

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1400    1.0        133        4  ...       1353      1915  3707    19     3
1401    0.1        124        8  ...         86      1681  1305     6     5
1402    0.3        119        4  ...        340      1728  2926    17    13
1403    0.3        144        3  ...        602      1156  2674     7     2
1404    0.7        184        2  ...        963      1062   471     8     4

      talk_time  three_g  touch_screen  wifi  price_range
1400         18        1             1     0            3
1401          4        1             0     1            0
1402          9        1             1     1            2
1403          5        1             0     1            2
1404         20        0             0     1            0

[5 rows x 21 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1500           1225     0          0.7         1   6       0          60
1501           1970     1          0.5         1   0       1          15
1502           1186     1          0.5         1   2       0          21
1503           1762     0          0.7         0   7       0          60
1504           1731     1          1.4         1   4       1           4

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1500    0.1        107        2  ...         10      1567  2423    17    11
1501    1.0        132        2  ...       1399      1684  1658    15     9
1502    0.4        160        8  ...         68       584  2361    17     8
1503    0.1        157        4  ...        643       790  1380    14     5
1504    0.5        163        6  ...        809      1988  3892     5     1

      talk_time  three_g  touch_screen  wifi  price_range
1500          6        1             0     0            2
1501         20        1             1     1            2
1502          7        1             0     0            1
1503         14        1             0     0            1
1504          4        1             1     1            3

[5 rows x 21 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1600           1776     1          2.1         1  10       0          35
1601           1254     1          1.2         0   2       1          27
1602           1494     0          1.6         1   4       1          24
1603            984     1          2.2         1   0       1          39
1604           1179     1          0.8         0   1       0           5

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1600    0.1        172        4  ...        278       623  1813    16    13
1601    0.2        134        2  ...       1288      1372   817    14     1
1602    0.2        101        1  ...        979      1190  3614    15    12
1603    0.5        119        8  ...         56      1931  2013    11     7
1604    0.9        154        5  ...        913      1429   543     8     7

      talk_time  three_g  touch_screen  wifi  price_range
1600         20        1             1     1            1
1601         16        1             1     1            0
1602          9        1             0     0            3
1603         16        1             1     0            1
1604         18        0             0     1            0

[5 rows x 21 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1700            742     1          0.5         0   0       1          36
1701           1306     1          2.1         1   2       1          33
1702           1424     1          2.9         1   0       0          20
1703            942     0          1.4         1   8       0          27
1704           1934     1          2.7         0   8       1           2

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1700    0.7        139        3  ...       1161      1288   292     8     0
1701    0.4        174        3  ...        867      1258  2521     6     5
1702    0.6        180        5  ...        181      1199  2658    15     0
1703    0.5         91        4  ...        754      1532   587     6     3
1704    0.1        118        4  ...        242      1127  2190    18     1

      talk_time  three_g  touch_screen  wifi  price_range
1700          6        1             1     1            0
1701         16        1             0     0            2
1702         19        1             0     0            2
1703         13        0             1     1            0
1704          9        1             0     1            2

[5 rows x 21 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1800           1358     0          1.7         0   0       0          60
1801           1035     1          1.9         1   8       0          11
1802           1289     0          0.8         1   3       1          16
1803           1445     0          2.2         1   2       0          37
1804           1702     1          2.3         1  12       1          47

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1800    0.6        147        3  ...        889      1635   440    14    10
1801    1.0        173        6  ...        831      1709  2002    17     8
1802    0.9        161        6  ...        713      1854  3167    14     8
1803    0.4         82        2  ...        527      1393  3480    17    16
1804    0.6        107        2  ...       1284      1643   595    10     0

      talk_time  three_g  touch_screen  wifi  price_range
1800         13        1             0     0            0
1801          5        1             1     0            1
1802         20        1             1     0            3
1803         17        1             1     1            3
1804         19        1             0     1            1

[5 rows x 21 columns]

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1900           1619     1          1.9         0   2       1          21
1901            965     1          1.4         0   1       0          13
1902            730     0          1.5         0   9       0           9
1903           1361     1          1.4         0   1       0          47
1904           1494     0          1.6         0   3       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1900    0.4        138        1  ...         46       562  1641     7     2
1901    0.9        197        8  ...        645      1275  2343    17    12
1902    0.7        122        4  ...       1371      1677  2787    10     8
1903    1.0        169        5  ...        881      1382  2495     8     7
1904    0.8        158        5  ...        449       790  3208    11     9

      talk_time  three_g  touch_screen  wifi  price_range
1900         13        1             0     0            1
1901         15        1             0     0            2
1902          7        1             0     1            2
1903         16        0             0     1            2
1904          4        1             0     0            3

[5 rows x 21 columns]

In [16]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 100)
print(type(chunks), print(chunks))

# we merge whole 20 chunk data using list
# so we create empty list
chunk_list = []
# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    chunk_list.append(chunk)

chunk_list[0]

<pandas.io.parsers.TextFileReader object at 0x000002029E630288>
<class 'pandas.io.parsers.TextFileReader'> None

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1137,1,1.0,0,18,0,7,1.0,196,3,...,942,1179,3616,13,5,12,1,1,1,3
96,1355,0,2.3,0,10,1,23,0.2,132,5,...,651,891,880,19,4,8,1,1,0,0
97,1665,1,0.5,0,3,1,60,0.2,194,6,...,1572,1684,1601,18,17,14,1,0,0,2
98,657,0,2.5,0,0,0,37,0.7,141,2,...,476,961,1412,14,3,18,0,1,0,0
99,593,0,0.5,0,6,0,31,0.4,156,7,...,1233,1317,1692,6,2,7,1,0,0,1

In [18]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 100)
print(type(chunks), print(chunks))

# we merge whole 20 chunk data using list
# so we create empty list
chunk_list = []
# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    chunk_list.append(chunk)

chunk_list[1]

<pandas.io.parsers.TextFileReader object at 0x000002029E63FF08>
<class 'pandas.io.parsers.TextFileReader'> None

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
100,1883,1,0.5,0,3,1,10,0.3,146,6,...,836,1739,2600,16,8,20,1,0,0,3
101,1732,1,1.1,0,4,1,12,0.8,119,8,...,824,881,1308,16,7,11,1,0,1,1
102,543,0,0.5,0,0,0,57,0.7,192,5,...,391,984,2413,17,14,15,1,0,0,1
103,1939,1,2.8,1,0,1,55,0.6,199,4,...,320,520,1047,14,10,18,1,1,0,0
104,553,0,2.4,1,1,1,8,0.5,121,7,...,325,902,1204,11,4,8,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1526,0,2.1,0,1,1,23,0.2,117,7,...,718,751,2227,18,10,3,1,1,0,2
196,1989,0,2.5,1,0,1,41,0.8,94,3,...,1100,1497,1665,17,9,12,1,1,1,2
197,1308,0,1.9,0,0,1,61,0.7,106,3,...,59,1215,3355,15,2,4,1,0,1,3
198,609,0,0.5,0,3,0,26,0.3,93,4,...,938,1948,1866,11,10,14,1,1,1,1
199,1905,0,0.6,1,9,1,36,0.4,119,3,...,825,1542,1287,13,4,16,1,0,0,1

In [19]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 100)
print(type(chunks), print(chunks))

# we merge whole 20 chunk data using list
# so we create empty list
chunk_list = []
# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    chunk_list.append(chunk)

chunk_list[15]

<pandas.io.parsers.TextFileReader object at 0x000002029E631988>
<class 'pandas.io.parsers.TextFileReader'> None

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1500,1225,0,0.7,1,6,0,60,0.1,107,2,...,10,1567,2423,17,11,6,1,0,0,2
1501,1970,1,0.5,1,0,1,15,1.0,132,2,...,1399,1684,1658,15,9,20,1,1,1,2
1502,1186,1,0.5,1,2,0,21,0.4,160,8,...,68,584,2361,17,8,7,1,0,0,1
1503,1762,0,0.7,0,7,0,60,0.1,157,4,...,643,790,1380,14,5,14,1,0,0,1
1504,1731,1,1.4,1,4,1,4,0.5,163,6,...,809,1988,3892,5,1,4,1,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,1206,0,3.0,1,10,1,30,0.6,127,3,...,1581,1713,1825,7,1,4,1,0,1,2
1596,832,1,0.5,1,1,1,5,0.1,165,5,...,9,1944,3946,12,5,14,1,1,1,3
1597,848,1,2.8,0,1,0,8,0.1,103,7,...,7,1294,436,10,6,15,1,1,1,0
1598,1851,0,2.9,0,0,0,53,0.7,112,6,...,174,1175,2678,6,0,8,1,0,0,2
1599,1166,1,0.5,0,7,0,59,0.5,80,1,...,437,638,3887,8,6,7,1,0,1,3

In [20]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 100)
print(type(chunks), print(chunks))

# we merge whole 20 chunk data using list
# so we create empty list
chunk_list = []
# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    chunk_list.append(chunk)

chunk_list[19]

<pandas.io.parsers.TextFileReader object at 0x000002029E646C08>
<class 'pandas.io.parsers.TextFileReader'> None

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1900,1619,1,1.9,0,2,1,21,0.4,138,1,...,46,562,1641,7,2,13,1,0,0,1
1901,965,1,1.4,0,1,0,13,0.9,197,8,...,645,1275,2343,17,12,15,1,0,0,2
1902,730,0,1.5,0,9,0,9,0.7,122,4,...,1371,1677,2787,10,8,7,1,0,1,2
1903,1361,1,1.4,0,1,0,47,1.0,169,5,...,881,1382,2495,8,7,16,0,0,1,2
1904,1494,0,1.6,0,3,1,45,0.8,158,5,...,449,790,3208,11,9,4,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [21]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 50)
print(type(chunks), print(chunks))

# we merge whole 20 chunk data using list
# so we create empty list
chunk_list = []
# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    chunk_list.append(chunk)

chunk_list[9]

<pandas.io.parsers.TextFileReader object at 0x000002029E64F748>
<class 'pandas.io.parsers.TextFileReader'> None

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
450,712,1,0.5,1,3,1,35,0.2,84,2,...,558,1208,2190,16,12,4,1,1,1,1
451,972,1,1.7,0,0,1,54,0.7,107,3,...,681,1050,1900,16,8,19,1,0,1,1
452,1406,0,0.5,1,2,1,34,0.8,98,3,...,1017,1366,3915,9,8,2,1,0,1,3
453,1289,0,0.9,0,10,1,25,1.0,178,6,...,765,899,1043,6,2,11,1,1,0,0
454,932,0,1.3,0,1,0,64,0.7,154,7,...,1176,1224,3817,8,7,9,1,1,1,3
455,1747,1,0.9,0,6,1,48,0.7,94,3,...,947,1131,2362,17,2,19,1,1,0,2
456,1172,1,2.1,1,4,0,41,0.1,95,3,...,1314,1884,1107,7,3,5,0,0,0,1
457,1128,1,1.4,0,12,0,53,0.4,84,5,...,609,1370,2982,14,9,12,1,1,0,3
458,664,0,1.2,1,0,0,28,0.9,106,5,...,754,1497,2042,17,15,19,1,1,0,1
459,513,1,0.5,0,6,1,44,0.1,186,4,...,619,867,1343,5,1,9,1,1,0,0
460,1742,0,2.3,1,9,1,43,0.4,170,7,...,453,681,2610,12,3,10,1,0,1,2
461,1512,1,1.7,0,12,0,6,0.7,162,7,...,205,884,2335,15,7,7,1,1,1,2
462,1986,0,0.5,1,3,1,51,0.1,165,8,...,282,1358,1614,17,12,3,1,1,1,1
463,965,1,1.5,1,5,0,13,1.0,109,2,...,130,998,1138,9,8,10,0,1,0,0
464,1067,1,2.4,1,3,1,40,0.6,122,8,...,494,1989,604,16,14,11,1,0,0,0
465,1583,1,1.6,0,5,1,42,0.8,118,3,...,275,862,3652,14,10,9,1,0,0,3
466,1653,0,0.5,1,2,1,37,0.9,176,4,...,447,1785,3955,19,4,18,1,1,1,3
467,1433,0,1.6,0,7,0,4,0.7,133,8,...,281,799,258,11,9,4,1,1,1,0
468,765,0,2.9,0,0,1,18,0.1,153,7,...,6,793,1066,11,1,16,1,1,0,0
469,1845,1,0.5,1,10,0,61,0.3,96,1,...,292,695,1731,9,5,6,0,0,0,1
470,752,0,0.5,1,1,0,48,0.7,87,7,...,164,728,3860,7,5,16,0,0,0,3
471,1948,0,2.8,1,8,0,16,0.1,100,5,...,631,1940,3630,9,7,17,0,1,0,3
472,1077,0,2.5,1,0,1,45,1.0,174,3,...,897,1304,1965,6,2,6,1,1,0,1
473,932,1,0.5,0,1,1,60,0.7,104,4,...,268,1078,1459,6,1,19,1,1,0,0
474,1968,0,0.9,0,0,0,22,0.8,115,3,...,861,1259,2323,9,8,7,0,0,1,2
475,1122,0,1.2,0,9,0,2,0.6,120,4,...,331,790,3291,11,2,13,1,1,1,2
476,1588,0,0.5,0,0,1,61,0.8,159,1,...,1064,1594,3272,18,0,17,1,1,0,3
477,601,0,2.1,0,4,0,26,0.3,101,4,...,509,548,918,9,1,12,0,0,0,0
478,1615,0,0.5,0,14,0,15,0.1,132,4,...,622,1256,3488,16,2,3,0,0,1,3
479,1589,1,2.2,1,2,0,58,0.1,128,4,...,957,1911,3961,16,14,14,1,0,1,3
480,1417,1,2.7,0,2,1,56,0.9,114,6,...,494,1649,590,11,3,6,1,0,1,0
481,1697,1,0.7,0,1,1,34,0.1,95,1,...,236,1264,3701,15,9,8,1,1,0,3
482,1330,1,1.3,1,14,0,3,0.3,83,5,...,980,1262,463,14,6,11,0,0,1,0
483,1476,0,0.5,0,0,1,43,0.7,148,2,...,1789,1972,3644,15,10,6,1,0,1,3
484,1579,1,1.5,0,0,0,27,0.2,142,6,...,831,1484,1713,16,4,10,1,1,1,1
485,1277,0,3.0,0,0,1,41,0.3,200,4,...,902,1090,429,9,4,14,1,1,1,0
486,1089,1,0.9,1,12,1,2,0.7,145,5,...,636,1259,2765,13,12,10,1,0,1,2
487,1663,1,2.5,1,13,1,27,0.3,169,4,...,831,1439,2084,7,1,18,1,0,0,2
488,1949,0,1.8,0,0,0,20,0.8,186,5,...,518,592,1125,17,10,9,0,0,0,1
489,1138,0,1.1,0,5,1,48,0.6,109,3,...,233,1777,2048,6,0,18,1,1,1,2
490,685,0,2.7,0,7,0,17,0.3,174,6,...,725,870,1223,8,0,18,1,0,1,0
491,1889,0,2.8,0,5,1,31,1.0,132,1,...,170,1106,3672,5,1,3,1,1,1,3
492,857,1,2.0,1,3,0,17,0.2,195,7,...,157,948,3100,17,5,13,1,1,0,2
493,1902,0,2.8,1,6,0,50,0.8,124,8,...,1142,1393,343,11,8,18,0,1,0,0
494,1225,1,2.4,0,0,0,15,0.1,155,5,...,840,982,1970,16,8,15,1,1,0,1
495,1066,0,1.6,0,5,0,39,0.6,131,5,...,401,1586,2728,6,0,17,1,1,1,2
496,1554,1,0.5,1,11,0,5,1.0,124,3,...,395,1579,3635,7,4,18,0,0,0,3
497,1337,0,0.5,0,13,0,31,0.8,186,2,...,48,644,2180,7,4,16,1,0,1,1
498,1926,1,1.7,1,1,1,33,0.4,172,3,...,982,1157,2488,6,1,14,1,0,0,2
499,869,0,1.3,1,3,0,34,0.1,104,2,...,478,539,3864,13,3,11,1,0,0,3

In [22]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 100)
print(type(chunks), print(chunks))

# we merge whole 20 chunk data using list
# so we create empty list
chunk_list = []
# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    chunk_list.append(chunk)

chunk_list[0].head()

<pandas.io.parsers.TextFileReader object at 0x000002029E5C3D08>
<class 'pandas.io.parsers.TextFileReader'> None

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [23]:
# To read a file in pieces, specify a chunksize as a number or rows:
chunks = pd.read_csv('datasets/train.csv', chunksize = 100)
print(type(chunks), print(chunks))

# we merge whole 20 chunk data using list
# so we create empty list
chunk_list = []
# if we read data TextFileReader in pandas than we use loop
for chunk in chunks:
    chunk_list.append(chunk)

df_0 = chunk_list[0]
df_0.head()

<pandas.io.parsers.TextFileReader object at 0x000002029E519B48>
<class 'pandas.io.parsers.TextFileReader'> None

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1