# XML And HTML Web Data Loading In To DataFrame

In [3]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list
print(type(tables))
print(len(tables))
failures_df = tables[0]
print(type(failures_df))
print(failures_df.shape)
print(failures_df.columns)
len(failures_df)
print(failures_df["City"].head())
print(failures_df["Bank Name"].head())
print(failures_df.head())

<class 'list'>
1
<class 'pandas.core.frame.DataFrame'>
(547, 7)
Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')
0           Mulberry
1           Woodbury
2    King of Prussia
3            Memphis
4          Milwaukee
Name: City, dtype: object
0                     Allied Bank
1    The Woodbury Banking Company
2          First CornerStone Bank
3              Trust Company Bank
4      North Milwaukee State Bank
Name: Bank Name, dtype: object
                      Bank Name             City  ST   CERT  \
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

                 Acquiring Institution        Closing Date       Updated Date
0                         Today's Bank  September 23, 2016  November 17, 2016
1                          United Bank     August 19, 2016  November 17, 2016
2  First-Citizens Bank & Trust Company         May 6, 2016  September 6, 2016
3           The Bank of Fayette County      April 29, 2016  September 6, 2016
4  First-Citizens Bank & Trust Company      March 11, 2016      June 16, 2016

In [5]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list
print(type(tables))
type(tables)

print(len(tables))
len(tables)

failures_df = tables[0]

print(type(failures_df))
type(failures_df)

print(failures_df.shape)
failures_df.shape

print(failures_df.columns)
failures_df.columns

len(failures_df)

print(failures_df["City"].head())
failures_df["City"].head()

print(failures_df["Bank Name"].head())
failures_df["Bank Name"].head()

print(failures_df.head())
failures_df.head()

<class 'list'>
1
<class 'pandas.core.frame.DataFrame'>
(547, 7)
Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')
0           Mulberry
1           Woodbury
2    King of Prussia
3            Memphis
4          Milwaukee
Name: City, dtype: object
0                     Allied Bank
1    The Woodbury Banking Company
2          First CornerStone Bank
3              Trust Company Bank
4      North Milwaukee State Bank
Name: Bank Name, dtype: object
                      Bank Name             City  ST   CERT  \
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

                 Acquiring Institution        Closing Date       Updated Date
0                         Today's Bank  September 23, 2016  November 17, 2016
1                          United Bank     August 19, 2016  November 17, 2016
2  First-Citizens Bank & Trust Company         May 6, 2016  September 6, 2016
3           The Bank of Fayette County      April 29, 2016  September 6, 2016
4  First-Citizens Bank & Trust Company      March 11, 2016      June 16, 2016

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [6]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list
print(type(tables))
type(tables)

<class 'list'>

list

In [7]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

print(len(tables))
len(tables)

1

1

In [9]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

failures_df = tables[0]
failures_df

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [10]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

print(type(failures_df))
type(failures_df)

<class 'pandas.core.frame.DataFrame'>

pandas.core.frame.DataFrame

In [11]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

print(failures_df.shape)
failures_df.shape

(547, 7)

(547, 7)

In [12]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

print(failures_df.columns)
failures_df.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [13]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

len(failures_df)

547

In [14]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

print(failures_df["City"].head())
failures_df["City"].head()

0           Mulberry
1           Woodbury
2    King of Prussia
3            Memphis
4          Milwaukee
Name: City, dtype: object

0           Mulberry
1           Woodbury
2    King of Prussia
3            Memphis
4          Milwaukee
Name: City, dtype: object

In [15]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

print(failures_df["Bank Name"].head())
failures_df["Bank Name"].head()

0                     Allied Bank
1    The Woodbury Banking Company
2          First CornerStone Bank
3              Trust Company Bank
4      North Milwaukee State Bank
Name: Bank Name, dtype: object

0                     Allied Bank
1    The Woodbury Banking Company
2          First CornerStone Bank
3              Trust Company Bank
4      North Milwaukee State Bank
Name: Bank Name, dtype: object

In [16]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

print(failures_df.head())
failures_df.head()

                      Bank Name             City  ST   CERT  \
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

                 Acquiring Institution        Closing Date       Updated Date
0                         Today's Bank  September 23, 2016  November 17, 2016
1                          United Bank     August 19, 2016  November 17, 2016
2  First-Citizens Bank & Trust Company         May 6, 2016  September 6, 2016
3           The Bank of Fayette County      April 29, 2016  September 6, 2016
4  First-Citizens Bank & Trust Company      March 11, 2016      June 16, 2016

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [24]:
#conda install lxml
#conda install -c anaconda beautifulsoup4
#htconda install -c anaconda html5lib
import pandas as pd
tables = pd.read_html('examples/fdic_failed_bank_list.html')
# tables variable type is not dataframe, its list

print(failures_df["CERT"].head())
failures_df["CERT"].head()

print(failures_df["ST"].head())
failures_df["ST"].head()

0       91
1    11297
2    35312
3     9956
4    20364
Name: CERT, dtype: int64
0    AR
1    GA
2    PA
3    TN
4    WI
Name: ST, dtype: object

0    AR
1    GA
2    PA
3    TN
4    WI
Name: ST, dtype: object

In [27]:
# for large and complicated dataframe, try to extract
# data as series for review and analysis
# here we converted a column into a new series of date type
close_timestamps = pd.to_datetime(failures_df['Closing Date'])
print(type(close_timestamps), close_timestamps)

<class 'pandas.core.series.Series'> 0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [28]:
# for large and complicated dataframe, try to extract
# data as series for review and analysis
# here we converted a column into a new series of date type
close_timestamps = pd.to_datetime(failures_df['Closing Date'])
print(type(close_timestamps), close_timestamps)
type(close_timestamps), close_timestamps

<class 'pandas.core.series.Series'> 0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

(pandas.core.series.Series,
 0     2016-09-23
 1     2016-08-19
 2     2016-05-06
 3     2016-04-29
 4     2016-03-11
          ...
 542   2001-07-27
 543   2001-05-03
 544   2001-02-02
 545   2000-12-14
 546   2000-10-13
 Name: Closing Date, Length: 547, dtype: datetime64[ns])

In [30]:
# for large and complicated dataframe, try to extract
# data as series for review and analysis
# here we converted a column into a new series of date type
update_timestamps = pd.to_datetime(failures_df['Updated Date'])
print(type(update_timestamps), update_timestamps)
type(update_timestamps), update_timestamps

<class 'pandas.core.series.Series'> 0     2016-11-17
1     2016-11-17
2     2016-09-06
3     2016-09-06
4     2016-06-16
         ...
542   2014-08-19
543   2002-11-18
544   2003-02-18
545   2005-03-17
546   2005-03-17
Name: Updated Date, Length: 547, dtype: datetime64[ns]

(pandas.core.series.Series,
 0     2016-11-17
 1     2016-11-17
 2     2016-09-06
 3     2016-09-06
 4     2016-06-16
          ...
 542   2014-08-19
 543   2002-11-18
 544   2003-02-18
 545   2005-03-17
 546   2005-03-17
 Name: Updated Date, Length: 547, dtype: datetime64[ns])